[2018-05-16 08:28] hgiesenow opened #1 "namespace of composer package is wrong"
At packagist.org the package `phpstan/phpstan-symfony` is not available. For the installation you must type `composer require --dev lookyman/phpstan-symfony` instead and also include the config from different namespace `vendor/lookyman/phpstan-symfony/extension.neon`.

[2018-05-16 09:53] lookyman commented on #1
That is because this package is not yet on Packagist. It will be available with the next PHPStan release. Until that time, you should use the https://github.com/lookyman/phpstan-symfony package.

[2018-05-16 09:53] #1 closed

[2018-05-18 18:34] Majkl578 opened #2 "Missing on Packagist"
Please register this package on Packagist so it can be easily tested. :blush:
https://packagist.org/packages/phpstan/phpstan-symfony _No packages found._

[2018-05-19 10:04] lookyman commented on #2
This has to be done by @ondrejmirtes, I don't have access there. 😃

[2018-05-19 10:37] ondrejmirtes commented on #2
Done 😊 https://packagist.org/packages/phpstan/phpstan-symfony

[2018-05-19 10:37] #2 closed

[2018-05-19 10:42] lookyman commented on #2
Thanks!

[2018-06-04 08:35] sandermarechal opened #3 "Tag a release?"
Can you tag a new release? Or import the tags from the old repository? Currently composer cannot install this package because no versions are tagged.

[code]

[2018-06-04 08:37] ondrejmirtes commented on #3
Please use the old package until PHPStan 0.10 is released.

[2018-06-04 08:37] #3 closed

[2018-06-21 06:54] ossinkine opened #4 "Test service container"
Symfony 4.1 introduced [new testing service container](https://symfony.com/blog/new-in-symfony-4-1-simpler-service-testing) which allows to get private services in tests.
For example following code is correct:
[code]
But PHPStan throws error "Service "Doctrine\ORM\EntityManagerInterface" is private."

[2018-06-21 07:29] ondrejmirtes commented on #4
Is it solvable? Do you have any way of knowing that you’re using a test
container?

On Thu, 21 Jun 2018 at 09:22, Lukáš Unger <notifications@github.com> wrote:

--

Ondřej Mirtes

[2018-06-21 07:32] lookyman commented on #4
I am also not sure if it can be solved. I will have to investigate..

[2018-06-21 09:07] lookyman commented on #4
@ossinkine Could you please test #5 and let me know if it fixes it? Thanks.

[2018-06-21 12:08] lookyman commented on #4
Ok, this is trickier than it looks. Fixing it completely would most likely require changes in PHPStan's core, so for now i did 34b1940, which should at least allow you to annotate the container with `/**@var \Symfony\Bundle\FrameworkBundle\Test\TestContainer */`, and it will stop complaining. Or you can access the container via a method, so you don't have to annotate it everywhere. Something like:

[2018-06-21 12:08] #4 closed

[2018-07-27 18:45] alcaeus opened #6 "Conditional $container->get() not evaluated correctly"
First off, is there a way to test the Symfony extension in the PHPStan Playground? In absence of that, here is the classic way of explaining the problem. We have a couple of conditional `get` calls to the service container like so:
[code]

Unfortunately, this conditional is not properly evaluated:
[code]

In this case, the `get` should not cause an error since it will not be reached if there's no

[2018-07-27 18:51] lookyman commented on #6
You are correct, this is not currently supported at all. I will give it some thought over the weekend and hopefully I can come up with a solution.

[2018-07-27 18:53] alcaeus commented on #6
Great, thank you for the quick feedback! ❤️

[2018-07-30 17:23] lookyman commented on #6
Closed by #7

[2018-07-30 17:23] #6 closed

[2018-08-03 07:05] binarious opened #8 "No return type for Controller::get"
Same error as described here: https://github.com/lookyman/phpstan-symfony/issues/9

Code:
[code]

Error:
[code]

It does work with `$this->container->get('session')`.

- phpstan/phpstan-symfony: 0.10.1
- phpstan: 0.10.2

[2018-08-03 07:16] binarious commented on #8
Nevermind. We're extending `AbstractController` which doesn't support this (while still working):

[2018-08-06 08:44] Szpadel opened #9 "services should not be case sensitive"
it is common pattern to name services as class path, and then select them with `SomeClass::class`.

symfony converts those dependencies to lower case before saving / resolving.

This causing errors like `Service "SomeNamespace\SomeClass" is not registered in the container.`

because in `appDevDebugProjectContainer.xml` it is saved as: `somenamespace\someclass`

[2018-08-06 13:56] dohpaz42 opened #10 "composer.json version requirement for nikic/php-parser possibly too restrictive"
I recently ran into a [version conflict](https://github.com/phpDocumentor/Reflection/issues/129) between this package and [`phpDocumentor/Reflection`](https://github.com/phpDocumentor/Reflection) with respect to [`nikic/php-parser`](https://github.com/nikic/PHP-Parser).

This project's package requires `^4.0`, while the aforementioned package requires either `^1.0` or `^3.0` - depending on how ble

[2018-08-06 13:59] ondrejmirtes commented on #10
Hi, this is not possible, the new PHP parser is quite different and it's not possible to support old and new version at the same time.

[2018-08-06 13:59] #10 closed

[2018-08-06 14:01] ondrejmirtes commented on #10
Your solution is to install PHPStan separately with a different composer.json (in a subdirectory perhaps) or use something like Docker for this (https://github.com/phpstan/docker-image).

[2018-08-06 14:01] dohpaz42 commented on #10
@ondrejmirtes you misunderstand, I am by far not asking for support of `^1.0`. Please re-read this key statement:

[2018-08-06 14:02] ondrejmirtes commented on #10
I don't see how having "nikic/php-parser": ">=4.0" instead of `"nikic/php-parser": "^4.0"` would help?

[2018-08-06 14:04] ondrejmirtes commented on #10
It would be too dangerous to proclaim support for php-parser 5.x when there will be BC breaks and work involved to really support it.

[2018-08-06 14:04] dohpaz42 commented on #10
@ondrejmirtes if `package/xyz` requires `nikic/php-parser: "^5.0", then I would not be able to use `phpstan/phpstan-symfony` because this package's constraint says it's restricted to just the `4.0` branch. If, however, this package said `>=4.0`, then everybody would be happy.

[2018-08-06 14:05] ondrejmirtes commented on #10
It would be too dangerous to proclaim support for php-parser 5.x when there will be BC breaks and work involved to really support it. 😊

[2018-08-06 14:17] dohpaz42 commented on #10
@ondrejmirtes Thank you for the pointer about different directories; it caused me to stumble on [support for environment variables by composer](https://getcomposer.org/doc/03-cli.md#environment-variables), which let's me hack around this ugly limitation.

I will leave you with this plea: please strongly consider opening up version constraints (as much as future versions will allow you, re: backwar

[2018-08-06 14:40] ondrejmirtes commented on #10
I have to always consider the maintenance burden when opening up the constraints but maybe the next major PHP-Parser version won't contain as many changes 😊 After all, I supported 2.x alongside 3.x for a long time 😊

[2018-08-14 08:31] lookyman commented on #9
Hi, can you please confirm that this is a problem in Symfony 3? Because 4 seems to work as expected.

[2018-08-14 09:06] Szpadel commented on #9
this is actually still symfony 2.8... but I believe that in most modern version resolution is still case insensitive

[2018-08-14 09:13] lookyman commented on #9
Ahh, 2.8, that explains a lot, I've never used such an old version. Ok, I'll see what I can do about it. Thanks.

[2018-08-14 09:13] ondrejmirtes commented on #9
How you managed to install this extension along Symfony < 3.0 I don't understand 😊

[2018-08-14 09:20] lookyman commented on #9
I do. We have conflict for an old framework-bundle, but Symfony 2 does not use that. This all comes from my lack of experience with older Symfony, I only ever started tu use it just about the time 4 came along. 😊

[2018-08-14 10:05] Szpadel commented on #9
We are using phpstan in docker, so we don't have to deal with conflicts ;-)

[2018-08-23 11:10] TomasVotruba commented on #8
I think I had similar bug in Rector, where PHPStan Analyzer is used.
My case whas, that the `AbstractController` uses `ControllerTrait` and the trait has `get()` method. PHPStan was unable to load parent class trait's method, so I had create own wrapper in reflection for doing this.

[2018-09-12 10:30] aturki opened #12 "False positive with Symfony Forms"
Hello all,

I get a "Call to an undefined method Symfony\Component\Form\FormInterface::getClickedButton()." error when working with Symfony Forms using the following code (within a Symfony Controller class):

`
$form = $this->createForm(...);
$clickedButton = $form->getClickedButton();
`

The second line will raise the error since the `createForm` method returns a FormInterface

[2018-09-12 11:39] lookyman commented on #9
Closing as invalid, since we don't support Symfony 2.

[2018-09-12 11:39] #9 closed

[2018-10-15 18:23] nCrazed opened #13 "services_test.yml is not considered in test context"
I have a `RealImplementation` with potentially expensive calls that is registered for a `ServiceInterface` in `services.yml` file. This is overwritten for tests via `services_test.yml` to instead use a `MockImplentation`.

There's also a sanity check in relevant tests to ensure that the correct version is being used:

[code]

This assertion triggers the following error:

[code]

This can be worked

[2018-10-23 07:49] lookyman commented on #13
Hi, sorry for the delay. Do you use test container in your `phpstan.neon`? It should look something like this:

[code]

You can use a separate `phpstan.test.neon` for tests which just includes the normal one and overwrites the container definition.

[2018-10-23 08:38] lookyman commented on #12
FIxed in 1b66d8e

[2018-10-23 09:31] nCrazed commented on #13
No, I was using the same configuration for the whole codebase.

Having separate config for the test files makes sense, thanks.

[2018-10-23 09:31] #13 closed

[2018-10-25 13:57] lookyman commented on #12
Actually it wasn't, I completely screwed that up. @aturki can you show me what parameters (especially the first one) are you calling `createForm` with, your FormType class, and anything else you feel I could need? Thanks.

[2018-10-26 15:14] aturki commented on #12
Hi @lookyman, `createForm` is called as:
`
$this->createFormat(DocumentType::class, $entity, $parameters);
`

Note the `DocumentType` is a subclass of the Symfony standard `Symfony\Component\Form\AbstractType`

Let me know if you need extra infos ;)

[2018-10-30 12:19] alexander-schranz opened #15 "Container has check throw condition is always true"
[code]

In my bundle I have a check for `has` service the phpstan throw the following error: `If condition is always true.` or `Negated boolean is always false.` because I think the service exist in my current configured container file. But this check is needed as somebody which don't have the other library imported or configured it different.

I think `has` should always be possible to be `true`

[2018-10-30 12:30] lookyman commented on #15
Just so I understand it correctly, the bundle is not part of your application, but is a separate package that you install into it?

[2018-10-30 12:47] alexander-schranz commented on #15
@lookyman the project using phpstan is a bundle and has check is used here to output a false configuration of the application use this bundle.

Another better usecase is when you are developing a bundle which has `optional` dependencies e.g.:

[code]

so the optional dependency is in the test container of the bundle but could not be there when somebody use the bundle so the `has` check is needed.

[2018-10-30 12:59] lookyman commented on #15
Right. That is a use case I haven't really considered. I don't want to just disable checking the `has` methods, because they can provide useful information about the code. What would you recommend in this case? I see two possibilities. Either add a config parameter to disable the checking altogether, or perhaps a blacklist for service names that we don't want to check. What do you think?

[2018-10-30 13:10] alexander-schranz commented on #15
@lookyman list of optional services sounds good for me. but it should only change the behaviour of `has` would `get` let it be as it is.

[2018-10-30 13:12] lookyman commented on #15
Yes, of course, `get` methods will remain unchanged. Thank you, I will look into that.

[2018-10-30 13:15] alexander-schranz commented on #15
Not sure if relevant there is in symfony a feature called ServiceSubscriber which can give you a container with only specified services: https://symfony.com/doc/current/service_container/service_subscribers_locators.html.

[2018-10-30 14:43] COil commented on #15
Having the same issue.

[2018-10-30 15:52] alexander-schranz commented on #15
@COil oh yeah thats also a use case which could also happen in a project not in a bundle. What is your opinion how we should fix the problem? I think we have 3 options:

 - A: let him define which services are optionals
 - B: let it configure to check if `has` ends up in a always check
 - C: has can always be true and false

[2018-10-30 22:22] lookyman commented on #8
Fixed in 0.10.2

[2018-10-30 22:22] #8 closed

[2018-10-30 22:23] lookyman commented on #15
Fixed in 0.10.2. Check out the readme.

[2018-10-30 22:23] #15 closed

[2018-10-31 07:33] alexander-schranz commented on #15
@lookyman thank you!

[2018-10-31 08:47] COil commented on #15
It's ok thank you. :)

[2018-10-31 14:00] Kocal opened #16 "Support custom Symfony Validation Constraint"
Hello, I'm encountering an issue with custom Validation Constraint.

PhpStan returns me this error:
[code]

This is my code (just an example, not for production :smile:) :

[code]

[code]

And this is normal, because there is no property `$message` on abstrac class `Symfony\Component\Validator\Constraint`.

---

I tried to update my code to this:
[code]

but I can't because the declaration is not

[2018-10-31 15:40] lookyman commented on #16
For now, just ignore the error in PHPStan's config. But I will look into what can be done about it. Haven't really worked with the validation component before, so it may take a while..

[2018-10-31 15:50] Kocal commented on #16
Okay thanks :+1:

[2018-11-01 12:05] lookyman commented on #16
Also, maybe you could probably just add something like `assert($constraint instanceof IsString);` into the `IsStringValidator::validate()` method..

[2018-11-01 20:29] alcaeus commented on #16
Pretty much every Symfony constraint does exactly that: https://github.com/symfony/symfony/blob/2bfcaeb31ff3b878734b0951851d25abf2b3321e/src/Symfony/Component/Validator/Constraints/NotNullValidator.php#L28. There should not be any magic involved with this: I could easily create a `FooConstraint` that returns `YourValidator::class` in its `validatedBy` method, and all of a sudden `YourValidator::va

[2018-11-02 04:13] Kocal commented on #16
Oh, I didn't know Symfony check for `Constraint` instance.
Well, I will do the same, thanks you guys!

[2018-11-02 04:13] #16 closed

[2018-11-06 11:41] zifnab87 opened #17 "Support for detecting undefined methods on objects being injected through constructor?"
Hi! Amazing work at phpstan!!
I am using phpstan with symfony and doctrine extensions. I was trying to detect an error for objects injected/autowired through the __construct(). It seems that currently it can't derive the type of the local variable based on the type-hint of the injected parameter. I found out that if I set analysis level at 2 it detects undefined methods called for normal objects i

[2018-11-06 11:52] ondrejmirtes commented on #17
Please show some code sample, ideally on phpstan.org.

On Tue, 6 Nov 2018 at 12:41, Michail Michailidis <notifications@github.com>
wrote:

--

Ondřej Mirtes

[2018-11-07 13:52] enumag opened #18 "Wrong error message"
I encountered this error:

[code]

This is however not true, the file does exist. I removed the `@` operator in XmlServiceMapFactory and got this:

[code]

[2018-11-07 13:58] enumag commented on #18
The reason was an invalid character in one of my parameters causing the XML to be invalid. After that, it works fine. You might want to change the error message though.

[2018-11-09 15:39] zifnab87 commented on #17
Hi Thanks for the reply! I tried to replicate it and make an example and it is in both the case of injected dependencies or objects created in the constructor we have no hinting of errors on those objects (maybe a phpstan/phpstan issue in reality):

Let's say I have a class called Dependency and I put it in my controllers like that (with the appropriate configuration in services.yaml :

[code]

[2018-11-09 15:51] ondrejmirtes commented on #17
You need to annotate your properties:

[code]

There has been a discussion about type inferring the properties from constructor but the conclusion is a strong no.

In PHP 7.4, you will be able to type your properties natively, so you can get a headstart and annotate your properties today, and switch to native typehints (automatically with some kind of fixer tool) in a year.

[2018-11-09 15:51] #17 closed

[2018-11-16 16:47] Jean85 opened #20 "Help getArgument/getOption in Symfony Console InputInterface"
Symfony had a few recent PRs to the Symfony console that impacted my PHPStan analysis due to PHPDoc changes:

https://github.com/symfony/symfony/pull/28448
https://github.com/symfony/symfony/pull/28374
https://github.com/symfony/symfony/pull/28647

Bottom line:
 * `InputInterface::getArgument` now returns `string|string[]|null`
 * `InputInterface::getOption` returns `string|string[]|bool|null`.

I

[2018-11-27 14:30] ossinkine opened #21 "HeaderBag returns strings or an array of strings depending on the third argument"
I suppose to add a rule which override the return type according to the third argument.

[2018-11-27 14:56] lookyman commented on #20
I am not sure this is possible, since the options are set in a different method on different objects. This would probably require a much deeper analysis of the source code then I can imagine right now. But it is a really annoying thing to ignore these errors every time, so I can give it a go. Or you can always send a PR if you have an idea how to solve it..

[2018-11-27 14:57] lookyman commented on #21
This should be easy to fix. Can you send a PR?

[2018-11-27 16:32] lookyman commented on #21
Heh, never mind, I'll do it, it will be easy 😊 But you can take a look at the `RequestDynamicReturnTypeExtension`, it basically does the same thing (return type based on argument), just for a different class.

[2018-11-27 22:12] ondrejmirtes commented on #21
@ossinkine You should start by reading PHPStan's README and try to implement some simple rules 😊

[2018-11-29 09:17] keichinger opened #22 "False positive: Service XY is private"
Symfony: 4.1
PhpStan: 0.10.5

Using the following code

[code]
I'll get an error where PhpStan complains that my services are `private` - which is the default for Symfony services. In this example I've marked two of my three services explicitly as `public`. However, it shouldn't be needed in this case. The code is working perfectly fine in both `dev` and `prod` environment. It's just PhpStan that

[2018-11-29 09:19] apfelbox commented on #22
The issue seems to be that services that are explicitly requested via the `ServiceSubscriberInterface` are not marked as accessible / public.

[2018-11-29 09:39] lookyman commented on #22
Thank you, I will look into it.

[2018-11-29 13:54] gmponos opened #23 "getContent as string|resource"
Hello.

When I have this code

[code]

and I get this error.

[code]

It would be nice to have phpstan recognise that default `request` returns string.

[2018-11-29 14:33] gmponos commented on #23
🤦‍♂️ it's my issue I had the include commented

[2018-11-29 14:33] #23 closed

[2018-11-30 13:30] lookyman commented on #22
Fixed in  c340de8.

[2018-11-30 13:30] #22 closed

[2018-11-30 13:31] keichinger commented on #22
Amazing! Thank you very much @lookyman for your hard work!

[2018-12-06 07:40] luxemate opened #26 "PSR-11 Container and AbstractController support"
https://github.com/symfony/framework-bundle/blob/master/Controller/Controller.php is marked as deprecated since 4.2 and there is a new way of defining a controller through https://github.com/symfony/framework-bundle/blob/master/Controller/AbstractController.php.

It also uses PSR-11 Container interface https://github.com/php-fig/container/blob/master/src/ContainerInterface.php, so currently phpsta

[2018-12-06 18:23] Pierstoval opened #27 "False positive in Tests: Service XY is private"
When using the `KernelTestCase` and asking PhpStan to analyze a test, I have this error:

![image](https://user-images.githubusercontent.com/3369266/49603146-bc9cdd00-f98a-11e8-9e7d-6eff7c8cbe69.png)

However, the `static::$container` that is in the `KernelTestCase` is supposed to be an instance of the `TestContainer` but is typed as `ContainerInterface` because it might happen that the `test.cont

[2018-12-22 21:33] theplankmeister opened #28 "PHPStan not correctly resolving available services in subclassed AbstractController::getSubscribedServices()"
### Summary of a problem or a feature request
It appears that PHPStan doesn't analyse correctly the inheritance in Symfony controllers' `getSubscribedServices` method in subclasses of the abstract controller.

### Code snippet that reproduces the problem
https://github.com/theplankmeister/phpstanerr/blob/master/src/Controller/DefaultController.php#L17
also see https://github.com/theplankmeister/ph

[2019-01-16 22:25] 84m opened #29 "Request::get('foo') error after update from 0.10.8 to 0.11.0"
Hi,
given the following code (see the gist https://gist.github.com/84m/1cb41b41fcacf65d1017f4f1c8c09700 for working example)
[code]
i was not getting an error on 0.10.8:
[code]
After an update to 0.11. i get
[code]

I'm not sure what changed here, but if there's no userid within the request, the variable is still null

[2019-01-17 15:02] nicksellen opened #30 "Support yaml format services definition"
My symfony services definition is in yaml format, but this seems to only support xml format via the `container_xml_path` configuration option. Also does this support symfony 4+?

Thanks!

[2019-01-17 15:16] ondrejmirtes commented on #30
You’re probably confusing  the user-readable YAML you’re supposed to edit
vs. the generated XML of the container Symfony generates for you and you’re
supposed to pass it to PHPStan.

On Thu, 17 Jan 2019 at 16:02, Nick Sellen <notifications@github.com> wrote:

--

Ondřej Mirtes

[2019-01-18 20:19] nicksellen commented on #30
Perfect, thanks a lot!

[2019-01-18 20:19] #30 closed

[2019-01-22 07:30] ToBee94 opened #31 "$container->has() always true"
If I use $container->has() in a CompilerPass, php-stan says that is always true.

Example:

[code]

Error:
[code]

Without the Symfony Plugin it works.

[2019-01-22 07:32] alcaeus commented on #31
I assume you configured a `project.exception_listener` in your container? The bundle checks the compiled container to infer return types of the `has` and `get` methods, which is why you'll get that error message.

[2019-01-22 07:54] ToBee94 commented on #31
yes the service is defined in the config.

They are two problems:

The check ensures that the service has been loaded correctly and a check that the service was ever defined. What if the pass should only be used if the service has been defined?
Also what if I deregister the service in other passes or listener?

[2019-01-22 08:02] alcaeus commented on #31
I'm not saying whether or not it's correct, I'm merely saying why you get the error. This is what this library does: it inspects your container and tells you that the service is there so you don't need to check for its existence.

[2019-01-23 08:35] lookyman commented on #31
You can pass different paths to respective environment containers in different configs and run PHPStan with those. For example, I always use a special `phpstan.tests.neon` config for my tests, which just includes the normal config and redefines the container path to the test one.

However, there is an other way, check out [this](https://github.com/phpstan/phpstan-symfony#constant-hassers) part of

[2019-01-23 08:35] #31 closed

[2019-01-23 09:03] #29 closed, assigned to nobody

[2019-02-14 10:03] mcfedr opened #36 "[Command] getOption return types"
This is a question, I'd be interested in implementing this, but not sure if its possible with Phpstan, so a point in the right direction would be useful.

In Symfony commands options (and arguments) are added in `configure` function, and this affects the return type of `$input->getOption` later.

[code]

So can I change the return type of `getOption`, according to the options that are configured?

[2019-02-14 11:57] lookyman commented on #36
I though about this before and so far I am not sure how to implement it. For example, you can have the options defined in a parent, and you should still be able to recognize their types. It gets quite complicated. I have vague ideas about using type specifying extension (define some dummy variables in the command's scope, see `PHPStan\Type\Symfony\Helper`), but nothing concrete at the moment. You

[2019-02-14 13:44] ondrejmirtes commented on #36
Maybe it could somehow infer just the command name and read the options
from Symfony app instance somehow?

On Thu, 14 Feb 2019 at 12:57, Lukáš Unger <notifications@github.com> wrote:

--

Ondřej Mirtes

[2019-02-19 14:47] robertfausk opened #37 "[Question] Does debug have to be enabled to get xml file generated?"
If you run your project with debug=false then var/cache/dev/srcApp_KernelDevDebugContainer.xml doesn't seem to be generated.

In my case I've build a container with docker and debug disabled.
![image](https://user-images.githubusercontent.com/1651297/53023452-95b85800-345d-11e9-9710-eba2d24c72f8.png)

[2019-02-19 18:31] marcospassos opened #38 "XML imports are not resolved"
Currently, imports are not resolved:

[code]

[2019-02-19 19:20] jvasseur commented on #37
The XML is dumped by the [ContainerBuilderDebugDumpPass](https://github.com/symfony/symfony/blob/master/src/Symfony/Bundle/FrameworkBundle/DependencyInjection/Compiler/ContainerBuilderDebugDumpPass.php) which is added [here](https://github.com/symfony/symfony/blob/master/src/Symfony/Bundle/FrameworkBundle/FrameworkBundle.php#L132) so yes, it's only dumped in debug mode.

[2019-02-19 19:22] jvasseur commented on #38
This extension is supposed to receive the xml file dumped by Symfony that doesn't contains imports. What is your use case for resolving them ?

[2019-02-19 20:22] lookyman commented on #37
Yep, as @jvasseur says.

I've considered several times to add some different provider that could maybe load the services from a different source (like the compiled class from `srcApp_KernelDevContainer.php`), but so far I haven't had the need for it.

[2019-02-19 20:22] #37 closed

[2019-02-19 22:26] marcospassos commented on #38
We use Symfony/DIC as a standalone library, so we don't have the debugging XML file, but the original files. I noticed that with small changes in the `XmlServiceMapFactory.php` is possible to add support for imports enabling the usage of the configuration files rather than dumped ones.

[2019-02-19 22:38] jvasseur commented on #38
Using using the source files instead of the dumped is a bad idea because they don't represent the final state of the container since extensions and compiler pass (including the ones built-in the DIC component) can change the service definitions between the config and the final containers.

Instead you could use the `XmlDumper` to dump the xml representation of your compiled container at the same t

[2019-02-26 10:34] lookyman commented on #27
I plan to try to tackle these false positives in the near future. It's... difficult. Symfony container is not as straightforward as I imagined when I started working with it and writing this extension. 😊

[2019-02-26 12:00] Pierstoval commented on #27
By chance there are not _that many_ errors with the container 👍

[2019-02-28 22:27] simon-tma opened #40 "WebTestCase collector not special-casing return"
The collector for a test client in functional tests isn't using the argument to map to the actual return type, leading to false positives.

[code]

This results in:
[code]

[2019-03-04 14:06] lookyman commented on #40
Thanks, I'll look into it.

[2019-03-26 15:07] enumag opened #43 "False positive with Symfony Messenger"
`Symfony\Component\Messenger\Envelope::all()` returns a [different type](https://github.com/symfony/messenger/blob/9db2bb6af3e1bf12de6bf4d5dcdf250c8642adcc/Envelope.php#L74-L84) based on whether or not an argument was passed to it. Currently PHPStan doesn't know that which results in errors like this:

[code]

I'd send PR but I'm not sure how cases like these should be solved in PHPStan. If you ca

[2019-03-26 15:20] ondrejmirtes commented on #43
You need to create a dynamic return type extension similar to this one, but maybe even easier: https://github.com/phpstan/phpstan-symfony/blob/master/src/Type/Symfony/HeaderBagDynamicReturnTypeExtension.php

[2019-04-01 08:02] #43 closed

[2019-04-03 13:39] althaus commented on #12
I think it's no false positive, but something ugly in the Form component:

The `FormInterface` returned by the builder does **not** include the `getClickedButton()` method which is part of the `Form` class. So phpstan would have to inspect the returned form object.

[2019-04-16 08:20] #20 closed

[2019-04-16 08:20] #36 closed

[2019-04-16 15:08] B-Galati opened #46 "Internal error with 0.11.4 on Symfony 4.2.6."
Hi,

Since I updated to version 0.11.4 on this package I have this error message.

[code]

My phpstan config:

[code]

I am using symfony v4.2.6.

Let me know for anything.

Cheers!

[2019-04-16 17:27] lookyman commented on #46
Probably fixed in master (490ff775bd3a6441f6794ae57911d4f9ba347a26), could you test it?

[2019-04-16 18:15] B-Galati commented on #46
Indeed!

I am closing this issue.

Thank you!

[2019-04-16 18:15] #46 closed

[2019-04-16 18:17] lookyman commented on #46
I've released 0.11.5 for you.

[2019-05-02 11:26] Majkl578 opened #47 "Command::addOption()'s $default expects wrong array format"
Symfony 4.0 documents `Symfony\Component\Console\Command\Command::addOption()`'s 5th parameter `$default` as `mixed`.

When using default values with `InputOption::VALUE_IS_ARRAY | InputOption::VALUE_OPTIONAL` mode, the `$default` parameter expects `array<int, string>|null`.
This is wrong because keys are irrelevant and leads to error like this:
[code]
Happens when `$default` is given an array doc

[2019-05-02 11:42] lookyman commented on #47
Yep, I see. Thanks, I'll fix it asap.

[2019-05-02 12:29] ondrejmirtes commented on #47
Level 0? Argument types are not checked until level 5.

On Thu, 2 May 2019 at 06:42, Lukáš Unger <notifications@github.com> wrote:

--

Ondřej Mirtes

[2019-05-02 14:50] Majkl578 commented on #47
@ondrejmirtes Yes, it's strange but it's really reported on level 0 already.
Versions:
[code]

[2019-05-02 14:57] lookyman commented on #47
That's because the rule doesn't care about levels. I might change that too.

[2019-05-02 15:00] ondrejmirtes commented on #47
You can inject the same parameters PHPStan uses in config.level5.neon.

On Thu, 2 May 2019 at 09:57, Lukáš Unger <notifications@github.com> wrote:

--

Ondřej Mirtes

[2019-05-09 10:29] ismail1432 commented on #16
Thanks @alcaeus  :+1:

[2019-05-12 17:24] lookyman commented on #47
Fixed in c4da70e0f8b7af56a3b87c5e70f9bad74f92a5dc

[2019-05-12 17:24] #47 closed

[2019-06-09 08:33] cacahouwete opened #49 "Symfony DI DefinitionDecorator not found"
| Designation | Value |
| ---------------- | ------- |
| php | 7.3 |
| symfony/framework | 3.4 |
| phpstan | 0.11.8 |
| phpstan-symfony | 0.11.6 |
| docker | docker run --rm -v \`pwd\`:/project cacahouete/phpaudit:latest php -d memory_limit=50000M /usr/local/src/vendor/bin/phpstan.phar analyse src -l 1 |

I don't know why, but when I use phpstan-symfony with following config:
[code]
I have the fol

[2019-06-14 07:54] fsevestre opened #50 "[Command] Missing options"
Hello,

I am adding the `console_application_loader` config part on my PHPStan configuration and I'm facing an issue with Symfony's defaults options not being found.

`Command "..." does not define option "env".`

We are using the `env` options to hide some dynamic informations on test environment for our test suite.

My `console-application.php` file
[code]

-----

I tried to create a patch, but

[2019-06-14 08:00] lookyman commented on #50
Ah, yes, that might be a bug. I'll have a look at it over the weekend. Thanks.

[2019-06-19 12:04] ossinkine opened #51 "KernelInterface::locateResource returns string or array of string dependeing on third parameter"
DynamicMethodReturnTypeExtension is needed.

[2019-06-19 18:54] lookyman commented on #50
Fixed in 1c995438481cd49e5724d620f7eb57cca7c1b2ca

[2019-06-19 18:54] #50 closed

[2019-06-19 19:11] lookyman commented on #51
Fixed in 5ecd82f15ef03c0a4f2895d0417bb85f1ef04112

[2019-06-19 19:11] #51 closed

[2019-06-25 12:13] VincentLanglet opened #53 "Load .env file"
# Support question

Since I updated my project to Symfony 4/Flex, I had to create `.env`, ... files with some values.
For example I have
[code]

This file seems to not be loaded by phpstan
[code]

 with this config (phpstan.neon)
[code]

phpstanLoader.php
[code]

What should I add ? I didn't find it in the documentation.

[2019-06-25 16:36] lookyman commented on #53
Hi, I usually load these directly in the equivalent of your `phpstanLoader.php`. Not sure if it could be automated.

[2019-06-25 16:39] VincentLanglet commented on #53
This is what I did.
Maybe at least adding this special case in the doc of phpstan/symfony can help.

[2019-06-25 20:52] lookyman commented on #53
That I can do 😊 We should also add it to the phpstan-doctrine repo, because your original problem seems to be Doctrine specific, not Symfony (or specifically, phpstan-symfony).

[2019-07-25 12:48] alexander-schranz opened #55 "Undefined variable $container in config files"
If you have for example a `config/packages/framework.php`

Phpstan will report `Undefined variable $container` if possible this should always be defined in $container and be typed as ContainerBuilder.

Workaround:

[code]

[2019-07-25 12:50] ondrejmirtes commented on #55
I don't understand this bugreport. What is the file `config/packages/framework.php`? Is that some Symfony convention? Who loads the file?

[2019-07-25 12:51] alexander-schranz commented on #55
@ondrejmirtes you can define symfony config files in 3 formats `YAML`, `XML` and `PHP`

See https://symfony.com/doc/current/reference/configuration/framework.html#ide

the .php files always have the variable $container (which is from type ContainerBuilder)  defined.

[2019-07-25 12:55] alexander-schranz commented on #55
@ondrejmirtes they are loaded by the Kernel see https://github.com/symfony/recipes/blob/master/symfony/framework-bundle/4.2/src/Kernel.php#L40

[2019-07-25 13:01] ondrejmirtes commented on #55
PHPStan works best with object-oriented code, no way to solve this now by an extension. I recommend you to exclude the file from analysis.

[2019-07-25 13:11] alexander-schranz commented on #55
@ondrejmirtes Thank you for your fast response. Thought that this is not easy to fix. Will go with the ignoreErrors at this time as there is in my case other logic in that file which I want to be validated. Feel free to close the issue if this is not able to be fixed because how symfony load this configuration files.

[2019-07-25 13:15] ondrejmirtes commented on #55
This is basically the same problem as https://github.com/phpstan/phpstan/issues/351, so closing, thank you.

[2019-07-25 13:15] #55 closed

[2019-07-30 06:47] plotek opened #56 "Request::getSession and null return value."
Request's method `getSession` can return `null` value, so when I tried call code like this: `$request->getSession()->set(...)` I got error:

I thought that checking if a request has sessions before call setter, resolve the problem, but unfortunately not. I created a repo which gives You a possibility to reproduce the problem:

https://github.com/plotek/symfony-phpstan

Possible workaround:
[code]

[2019-08-01 13:18] fsevestre opened #57 "[Command] Error when using a constant as argument/option default value"
Hello,

We have the following error messages while using a command argument/option default value as a constant:

[code]

The following code should return the error:
[code]

Even if the constant value is a string, it's understood as mixed.

-------

For the moment, to avoid the error message, I have a private method which returns the constant value and use it as default value.

[2019-08-01 13:20] ondrejmirtes commented on #57
Don't know where this error is coming from, `mixed` shouldn't be reported like this anywhere.

Anyway, if you change it to `self::MODE_CREATED`, it will start working.

[2019-08-09 09:23] tifabien opened #59 "Using the new SF4.3 EventDispatcher::dispatch method signature throws en error"
When using the new SF4.3 EventDispatcher::dispatch method signature (https://symfony.com/blog/new-in-symfony-4-3-simpler-event-dispatching) it fails when using the second optional eventName parameter.

The error is the following :
[code]

[2019-08-09 09:25] ondrejmirtes commented on #59
How does the method signature and body look like on your disk?

[2019-08-09 09:36] tifabien commented on #59
Seems the same as this one https://github.com/symfony/symfony/blob/4.3/src/Symfony/Contracts/EventDispatcher/EventDispatcherInterface.php

[2019-08-09 12:00] ondrejmirtes commented on #59
Yeah, there's no way to solve this on PHPStan side. I recommend to add it to ignoreErrors.

[2019-08-09 12:23] tifabien commented on #59
OK That's what I already added but in case I was not sure whether we could do something.
Thanks !

[2019-08-09 12:23] #59 closed

[2019-09-06 11:55] mitelg opened #61 ""wildcard" for `container_xml_path`"
Hey,
I would like to introduce this extension to [Shopware 6](https://github.com/shopware/platform).
Due to our plugin system, the cache directory and also the built Symfony DI container are not absolute (See [Kernel::getCacheDir](https://github.com/shopware/platform/blob/master/src/Core/Kernel.php#L153))
I understand that the file_get_contents [here](https://github.com/phpstan/phpstan-symfony/blo

[2019-09-06 12:49] ondrejmirtes commented on #61
You can generate the final phpstan.neon before you run PHPStan each time.
Or you can set up a symlink on your disk.

On Fri, 6 Sep 2019 at 20:55, Michael Telgmann <notifications@github.com>
wrote:

--

Ondřej Mirtes

[2019-09-09 12:37] mitelg commented on #61
Thanks for your help. I will try that. :+1:
Closed for now :blush:

[2019-09-09 12:37] #61 closed

[2019-09-14 19:50] tomasfejfar commented on #26
Should I make a PR for this or are you already working on it?

[2019-09-17 08:58] tomasfejfar commented on #26
@lookyman @luxemate ?

[2019-10-06 11:41] #56 closed

[2019-10-07 08:23] lookyman commented on #53
Closing this here, please send a PR with doc changes to the [phpstan-doctrine](https://github.com/phpstan/phpstan-doctrine) repo.

[2019-10-07 08:23] #53 closed

[2019-10-07 08:25] lookyman commented on #38
Solution provided by @jvasseur is the recommended one.

[2019-10-07 08:25] #38 closed

[2019-10-07 08:27] lookyman commented on #26
@tomasfejfar If you make a PR, I will be most grateful, thanks!

[2019-10-09 07:30] tomasfejfar commented on #26
I'll see what I can do.

[2019-10-28 17:39] tomasfejfar commented on #26
I'm on it :)

[2019-11-12 15:39] benr77 commented on #50
I'm still experiencing this bug in 0.11.6

[2019-11-21 09:42] #26 closed

[2019-12-03 14:06] Gradius30 opened #67 "Support Symfony 5"
Hello, would it be possible to update dependencies requirements to support Symfony 5 distribution?

I am currently having a problem with ` phpstan/phpstan 0.11.19 requires symfony/console ~3.2 || ~4.0 -> no matching package found`

To solve this `symfony/console ^5.0` would be welcomed

However I believe there are more packages that would benefit from getting updated

[2019-12-03 14:08] #67 closed

[2019-12-03 14:10] ondrejmirtes commented on #67
Install `phpstan/phpstan:0.12` once I tag it later today.

[2019-12-18 09:41] Wirone commented on #31
I got this error when I wanted to override some listener's priority and was checking if it's registered by using `has()`. I needed to check it because that listener is registered dynamically based on configuration - for current config it's always enabled.

I changed PHPStan's Symfony extension config by disabling [`constant_hassers`](https://github.com/phpstan/phpstan-symfony#constant-hassers) and

[2019-12-23 14:23] mitelg opened #71 "Fatal Error Uncaught Type Error"
# Bug report

Analysing [this class](https://github.com/shopware/platform/blob/6.1/src/Core/Framework/Struct/Serializer/StructNormalizer.php) gives the following error:

Stack trace:
#0 development/dev-ops/analyze/vendor-bin/phpstan/vendor/phpstan/phpstan-symfony/src/Type/Symfony/SerializerDynamicReturnTypeExtension.php(42): PHPStan\Analyser\MutatingScope->getType(NULL)
phpstan/phpstan#1 phar:///d

[2019-12-23 23:29] lookyman commented on #71
I'll take a look, thanks!

[2020-01-02 08:39] lookyman commented on #71
Well, at the first glance, the problem appears to be here:

`public function denormalize($data, $type = null, $format = null, array $context = [])`

The `$type` argument is supposed to be `string`, according to the denormalizer interface.

[2020-01-02 09:19] lookyman commented on #71
Fixed eb4ceaa979993da504d719ffe5ab8bb44c266f15

[2020-01-02 09:19] #71 closed

[2020-01-09 10:14] ThomasLandauer commented on #12
I opened a ticket for this at Symfony, see https://github.com/symfony/symfony/issues/35277

[2020-01-12 11:19] ThomasLandauer commented on #12
For now, the solution is to add a PHPDoc - see https://github.com/symfony/symfony/issues/35277#issuecomment-572540892 :

[code]

[2020-01-20 10:37] hmartin commented on #16
`
<?php
// packages/common/Bundle/Common/CoreBundle/Validator/Constraints/IsStringValidator.php

declare(strict_types=1);

namespace Yprox\Bundle\Common\CoreBundle\Validator\Constraints;

use Symfony\Component\Validator\Constraint;
use Symfony\Component\Validator\ConstraintValidator;

class IsStringValidator extends ConstraintValidator
{
    /**
     * {@inheritdoc}
     */
    public function val

[2020-01-31 15:12] enumag opened #73 "False positive with HttpFoundation Request"
[code]

[2020-01-31 15:20] lookyman commented on #73
Confirmed, but I have no idea why that happens. 😊

[2020-02-04 18:43] noemi-salaun opened #74 "False positive with Container::get not nullable"
`Symfony\Component\DependencyInjection\ContainerInterface::get()` can return null when using `ContainerInterface::NULL_ON_INVALID_REFERENCE`

[code]

[2020-02-04 20:08] lookyman commented on #74
I am actually thinking about straight up disallowing the get on containers. What are your thoughts about that?

Otherwise, this one might currrently be tough to fix. I have some ideas, but it would possibly require some major refactoring, and I am not sure about the results. Plus I am currently swamped with other work.

So for now, please just mark the error as ignored, and I promise to look at it

[2020-02-05 18:06] noemi-salaun commented on #74
I think it's a little too opinionated to simply disallow its usage. Maybe in a package like `phpstan/phpstan-strict-rules` but not as default in this package.

[2020-02-13 15:29] nicwortel opened #75 "ContainerInterfacePrivateServiceRule should report services that are implicitly private"
[Since Symfony 3.4, services are private by default](https://symfony.com/blog/new-in-symfony-3-4-services-are-private-by-default). However, the [`XmlServiceMapFactory`](https://github.com/phpstan/phpstan-symfony/blob/master/src/Symfony/XmlServiceMapFactory.php) still assumes that a service is public if the `public` attribute hasn't been set:

https://github.com/phpstan/phpstan-symfony/blob/a6d87e0

[2020-02-17 16:20] teohhanhui opened #76 "Support for ServiceLocator"
https://symfony.com/doc/current/service_container/service_subscribers_locators.html#defining-a-service-locator

The services defined in a `ServiceLocator` are still detected as private.

[2020-02-26 09:06] lookyman commented on #73
Ok, I finally figured it out, will fix ASAP.

[2020-03-12 13:23] nicwortel commented on #75
@lookyman would you accept a PR that reverses the logic so services are considered private by default?

How would you like to handle old Symfony versions?

[2020-03-14 09:49] lookyman commented on #75
I would, thanks. Also, we don't need to worry about older versions.

[2020-04-15 12:06] enumag commented on #73
@lookyman Bump ;-)

[2020-04-24 19:09] emodric commented on #73
What is the solution to this?

[2020-04-24 19:12] emodric opened #79 "False positive with Symfony\Component\DependencyInjection\ContainerBuilder::has"
I have around 10 compiler passes in my code base.

I have NOT configured the path to container XML as I am not interested in testing for existing/non-existing services.

However, somehow, one and only one of my compiler passes fails with the message:

[code]

The code in question is fairly standard:

[code]

[2020-05-10 08:06] garak opened #81 "get correct User class?"
It would be nice it this plugin could allow to get User class declared in configuration (e.g. in `config/packages/security.yaml`), so it can be retrieved instead of generic `\Symfony\Component\Security\Core\User\UserInterface`.

Tipical scenarios are getting User calling `$this->getUser()` from controller and calling `$tokenStorage->getToken()->getUser()` from a service where token storage is inje

[2020-05-22 22:38] tony-tran opened #82 "Problem with Symfony/Dotenv"
Hi,

I don't know if it is the correct repository for this issue.
I try to use phpstan in tests (phpunit) folder but I have this error :

![Capture d’écran 2020-05-23 à 00 29 29](https://user-images.githubusercontent.com/5413075/82713794-90634200-9c8c-11ea-9c31-c8d17deac4c6.png)

with :

phpstan/phpstan-doctrine           0.12.13 Doctrine extensions for PHPStan
phpstan/phpstan-phpunit

[2020-05-22 22:38] tony-tran opened #83 "Problem with Symfony/DotEnv"
Hi,

I don't know if it is the correct repository for this issue.
I try to use phpstan in tests (phpunit) folder but I have this error :

![Capture d’écran 2020-05-23 à 00 29 29](https://user-images.githubusercontent.com/5413075/82713794-90634200-9c8c-11ea-9c31-c8d17deac4c6.png)

with :

phpstan/phpstan-doctrine           0.12.13 Doctrine extensions for PHPStan
phpstan/phpstan-phpunit

[2020-05-22 22:41] #83 closed

[2020-05-27 07:59] gmponos opened #84 "Load the prod container instead of the dev/debug"
Hi..

I have an issue with sf and PHPStan... which I don't know if it is sf or PHPStan.. so this is the best place to ask I guess..
Until today I had a make command like this:

[code]

Why cache warmup? In order to make sure that the container exists and then PHPStan to load it using this

[code]

So far so good.. My problem is that I thought that the above setup is wrong.

I don't want PHPStan to

[2020-05-27 08:29] ondrejmirtes commented on #84
Hi, I think your question boils down to: "Can I generate the XML for prod container?" which should be best answered by looking at Symfony sources. Let me know what you find so we can add it to the README :)

[2020-06-03 12:32] greg0ire opened #85 "Load different containers for different directories"
Somewhat related to #84, cc @gmponos

On a fresh Symfony app, `config/services_test.yaml` looks like this:

[code]

Later, in tests, I will try to access this service that is only available in the test container. To avoid issues with PHPstan, I configured the extension to use the test container, maybe that should become the default recommendation? And maybe there should be a way to use it only for

[2020-06-03 13:15] gmponos commented on #85
FYI what I currently do in my projects is that I have two make commands:

[code]

Each one loading a different container... maybe if different containers could be loaded per path 🤔 ?

[2020-06-03 13:19] ondrejmirtes commented on #85
Yes, these needs are covered by running PHPStan multiple times with different configs.

[2020-06-03 13:22] gmponos commented on #85
never the less if someone was willing to take this task.. would you accept this modification? meaning a different container per path?

[2020-06-03 13:24] ondrejmirtes commented on #85
Nope, I don't think it's necessary. Thanks.

[2020-06-03 13:24] #85 closed

[2020-06-03 14:00] greg0ire commented on #85
I think in most cases the test container is a superset of the dev container, maybe the README should be changed? I can make the PR.

[2020-06-08 15:52] mmarton opened #86 "Call to method Request::hasSession() will always evaluate to true."
I'm not entirely sure this is a phpstan related issue.

When I check for session, ie:
[code]

I got the folllowing phpstan error:

If I comment out the use of phpstan-symfony OR the phpstan-strict-rules plugin, the error disappears.

Maybe related to https://github.com/phpstan/phpstan-symfony/issues/56

Symfony version 5.0
Phpstan versions:
phpstan/phpdoc-parser 0.4.4
phpstan/phpstan 0.12.26
phpst

[2020-07-17 13:50] vandroids opened #89 "ServiceSubscriberInterface, voters and private services issue"
# Support question

Hello!
I'm trying to use ServiceSubscriberInterface after reading this article https://symfonycasts.com/screencast/symfony-doctrine/service-subscriber

They suggest to use service locator pattern for the sake of performance in voters.
And the problem is this:

[code]
Phpstan tells me that Service "Symfony\Component\Security\Core\Authorization\AccessDecisionManagerInterface" is

[2020-08-11 10:07] raalderink opened #91 "http-foundation InputBag::get with default value should not return null"
If you use HTTPFoundation's Request, and then get specific input bags (query/request,...), the `get` may return `string|null`. However, if you pass parameter #2 `$default` as non-null value, it will never return `null`, and always a string.

So for example this code can never return null;

[code]

Currently, because the typehint on the function is `string|null`, PHPStan will complain if you pass t

[2020-08-11 10:24] raalderink commented on #91
I'll be working on a fix for this and will create a PR when ready

[2020-08-11 10:29] ondrejmirtes commented on #91
This needs a dynamic return type extension https://phpstan.org/developing-extensions/dynamic-return-type-extensions :)

[2020-08-13 18:49] 9ae8sdf76 commented on #86
Same here. This is because Symfony defines the type as `SessionInterface` without it possibly being null. How can we work around this without disabling the remainder of the rules?

[2020-08-16 08:01] vladyslavstartsev opened #94 "Can't use plugin in Github action"
I'm trying to install this plugin in separate bundle.
But when I use it in github actions (https://github.com/OskarStark/phpstan-ga) I see something like this.

[code]

When I run it locally it does work perfectly, but not in github actions.

The project is https://github.com/sonata-project/SonataAdminBundle

If I need to move this to https://github.com/OskarStark/phpstan-ga I will.

[2020-08-16 08:17] ondrejmirtes commented on #94
You're somehow registering the extension multiple times. If you share the branch where it happen I can take a look.

`OskarStark/phpstan-ga` isn't necessary.

[2020-08-16 09:03] vladyslavstartsev commented on #94
https://github.com/vladyslavstartsev/SonataAdminBundle/tree/phpstan-symfony-ga-fail

https://github.com/vladyslavstartsev/SonataAdminBundle/actions/runs/210655545

[2020-08-16 13:37] ondrejmirtes commented on #94
I see the job is using the phpstan-ga action:

[code]

The problem comes from that - the [action also contains the phpstan-symfony extension and on top of that, it uses phpstan/extension-installer](https://github.com/OskarStark/phpstan-ga/blob/3183ba679e41f40e56ac0e45ac61942539637189/Dockerfile#L19-L27). That's unfriendly because if you want to run PHPStan locally, it also dictates your project to

[2020-08-16 13:37] #94 closed

[2020-08-16 13:39] ondrejmirtes commented on #94
The phpstan-ga action also isn't usable if the versions of PHPStan and extensions in it are different than in your composer.json. I'd say that it's only for basic usage for people that don't have PHPStan installed in their projects or don't use Composer.

[2020-08-23 17:27] vladyslavstartsev commented on #94
@ondrejmirtes thanks a lot!

[2020-09-03 11:08] nreynis opened #96 "Analyzing services with 'get' methods breaks following files"
# Bug report

Analyzing nested services which have `get` methods produces weird side effect on other files.
It seems to break something container/autoloader related.
It then causes classes to not be loaded properly and not be processed by dg/bypass-finals.
And breaks (in this example) intersection types.

Having one service with a `get` method doesn't seems to be enough, I can only reproduce it wi

[2020-09-03 19:12] ondrejmirtes commented on #96
So I figured out what's the root problem and it has nothing to do with phpstan-symfony.

`bypass-finals` registers its own stream wrapper for `file://`. [`AutoloadSourceLocator`](https://github.com/phpstan/phpstan-src/blob/master/src/Reflection/BetterReflection/SourceLocator/AutoloadSourceLocator.php) also registers its own stream wrapper for `file://` but it seems like it doesn't restore back to

[2020-09-03 20:06] ondrejmirtes commented on #96
Both `bypass-finals` and `AutoloadSourceLocator` are horrible hacks... I'd suggest if you want to mock something, don't make it actually final. Create an interface and mock that instead...

[2020-09-03 21:52] nreynis commented on #96
You are right, it does not seems to be related to the `get` method name... I don't know why my tests succeeded yesterday. I probably misinterpreted cached results and jumped on the wrong conclusion.

😞 Altering architecture to accommodate tooling is not a very satisfying solution.

I've found related issues, seems like it clash with infection too:
- https://github.com/dg/bypass-finals/issues/9
- h

[2020-09-04 01:15] nreynis commented on #96
Maybe you could do like phpunit and provide a hook. This way we could re-bind bypass final after each stream wrapper restoration.

That's a bit of plumbing, but the other solutions:
- stopping using final
- doubling codebase by adding interface systematically
- don't do any test that require mock (no unit or integration)

... are not acceptable.

PHPStan is a quality tool, if I have to write worse

[2020-09-04 08:15] nreynis commented on #96
Seems like the only thing you need to register stream wrappers is their FQCN, so you could just use a config parameter for that:
[code]

After bootstrap you register them:
[code]

In `FileReadStreamWrapper` finally clause:
[code]

[2020-09-14 15:12] Wirone commented on #27
I was struggling with this too, but @Pierstoval's solution worked for me. Maybe it's not as clean as it should be, but resolves my CI issue :) Subscribing to this, so hopefully it can be replaced with proper solution on some point.

[2020-09-30 15:02] althaus commented on #28
Any updates on this? I've just activated `phpstan-symfony` and stumbled right upon this issue.

[2020-10-02 13:50] mitelg commented on #27
plus 1 :blush:
would be nice, if this could be fixed somehow

@Pierstoval's solution also worked for me in the meantime :+1:

[2020-10-02 16:17] ThomasLandauer opened #98 "Suggestion: Better error message when `console_application_loader` is invalid"
When with this configuration
[code]
... `foobar.php` is not found, the entire error message given is:

... which isn't very descriptive about the actual problem :-)

[2020-10-02 17:07] ThomasLandauer opened #99 "Suggestion: Change parameters in `phpstan.neon` to camelCase"
... for consistency with phpstan main config.

[2020-10-03 15:48] ThomasLandauer opened #101 "README.md: Explain `rootDir`"
Since the path in the suggested `console-application.php` was wrong (see https://github.com/phpstan/phpstan-symfony/pull/100), I'm wondering if this is right:
[code]
What is `%rootDir%` referring to? And/or how can I see what this path is ultimately resolved to?

[2020-10-04 06:51] ondrejmirtes commented on #101
`%rootDir%` is mostly a PHPStan pre-0.12.x thing. Since 0.12, config paths are resolved based on where the current config file is.

Let's say you have `/foo/bar/phpstan.neon`. If you reference a path `baz/lorem.php` in that file, it will resolve to `/foo/bar/baz/lorem.php`.

I updated the README: https://github.com/phpstan/phpstan-symfony/commit/46cd7d5cc209651a3a7d7bbb18b213f6ec806e77

[2020-10-04 06:51] #101 closed

[2020-10-14 23:16] ThomasLandauer opened #102 "Suggestion: Warm up Symfony's cache to prevent error "Container ... does not exist""
When I run PHPStan after deleting my `var/cache/dev` directory, I'm getting this error:

So I need to open the app in "dev" environment first, before I can run PHPStan. So I'm suggesting to automatically try to warm up the cache (or initialize the app) by PHPStan.

[2020-10-15 08:01] ondrejmirtes commented on #102
Hi, you should run PHPStan by putting in your `Makefile` or Composer scripts warming up the container first and only then running analyse. This should be solved outside of PHPStan like that.

[2020-10-15 08:01] #102 closed

[2020-10-20 08:46] ruudk opened #104 "GitHub shows 0.11.6 as latest while there are more releases"
https://github.com/phpstan/phpstan-symfony/releases

<img width="487" alt="Screenshot 2020-10-20 at 10 46 07@2x" src="https://user-images.githubusercontent.com/104180/96562807-7b352280-12c1-11eb-9e93-2040e6d7a9fb.png">

[2020-10-20 08:51] #104 closed

[2020-10-20 08:58] ruudk commented on #104
Seems to be something weird with Github indeed.

https://github.community/t/why-last-release-is-not-marked-as-latest-release/421/5

Could it be that the 0.11.6 release was created with the GitHub web interface? And the later tags where just done via git push?

[2020-10-20 09:00] ondrejmirtes commented on #104
In 0.11.x series I had been creating GitHub releases, from 0.12 onwards I'm just doing tags.

[2020-10-20 19:11] 9ae8sdf76 opened #105 "Support APP_ENV for determining container filename"
I saw https://github.com/phpstan/phpstan-symfony/issues/61 and that works as an okay workaround, but I would posit that developers shouldn't have to carry the burden of dynamically generating a configuration file or symlinking a to a specific file when an extension-level solution could just as easily be introduced in the code.

With that said, my suggestion would be to look for `APP_ENV` in the en

[2020-10-22 08:00] pscheit-lillydoo opened #109 "Suggestion: add a docker-compose.yml for dev"
I created one while contributing, do you want it?

[2020-10-22 09:20] ondrejmirtes commented on #109
No, thank you.

[2020-10-22 09:20] #109 closed

[2020-10-28 14:48] pscheit-lillydoo commented on #105
[code]

then reference the file in includes in your phpstan.neon

[2020-10-28 15:02] 9ae8sdf76 commented on #105
$xmlContainerFile = $env === 'dev'
        ? dirname(dirname(__DIR__)) . '/app/cache/dev/appDevDebugProjectContainer.xml'
        : dirname(dirname(__DIR__)) . '/app/cache/test/appTestDebugProjectContainer.xml';

It would be much more encompassing to just use `$env` directly (after ensuring it's safe to use):

    $env = getenv('APP_ENV');

    $xmlContainerFile = realpath(dirname(dirname(__DIR__)

[2020-10-28 15:09] pscheit-lillydoo commented on #105
sure but the xml file changes
appDevDebugProjectContainer
vs
appTestDebugProjectContainer

[2020-10-28 15:11] 9ae8sdf76 commented on #105
You're right. Nothing a `ucfirst(strtolower($env))` couldn't fix. :)

[2020-11-30 12:49] tristanbes opened #112 "Symfony 5.2: Container App_KernelDevDebugContainer.xml does not exist"
Using Symfony 5.2, the container is no longer dumped when using `cache:clear` or `cache:warmup`.
A possible workaround is to use `bin/console lint:container` to create the `

This issue is to help user track the problem since it's Symfony related (I guess): https://github.com/symfony/symfony/issues/39240

I had to use that in my CI:
[code]

[2020-11-30 12:53] ondrejmirtes commented on #112
FYI `php bin/phpstan analyse --no-progress --error-format=checkstyle | cs2pr` can be simplified to `php bin/phpstan analyse --no-progress`

[2020-11-30 12:56] tristanbes commented on #112
thanks for the tip ! I guess I missed the support for github annotation in your changelog if you recommend dropping `cs2pr` 👍

[2020-12-04 13:57] MaxE17677 commented on #79
Same here:

[code]

[2020-12-21 16:20] HedicGuibert opened #118 "Issue with the symfony console command analysis"
I'm having this error related to the vendors when trying to add the console analysis to my project :

![PHPStan](https://user-images.githubusercontent.com/71645693/102796945-49b70100-43af-11eb-9197-aff2abf90037.png)

I'm using Symfony `5.2.1`, PHPStan `0.12.63` and PHPStan-Symfony `0.12.12`.

I opened a PR reproducing the bug here : https://github.com/jolicode/starfleet/pull/101

I'm not sure if t

[2020-12-21 20:51] mhujer commented on #112
It is resolved in Symfony 5.2.1 - see https://github.com/symfony/symfony/pull/39360 (linked from the original issue)

[2020-12-21 20:52] #112 closed

[2021-01-07 23:56] ThomasLandauer opened #121 "False positive when an entity's property gets changed by a form inside an if"
I guess the title doesn't really say it all ;-)

So let me show you what I have:
[code]

[2021-01-08 09:50] ondrejmirtes commented on #121
I'd recommend you to rewrite your code like this:

[code]

[2021-01-09 23:46] ThomasLandauer commented on #121
Cool, thanks, that indeed fixes it :-)
So if you can't think of a general solution for this, you can close the issue.

[2021-02-04 10:59] garak opened #127 "Support for ContainerInterface::getParameter return type"
Problem: [ContainerInterface](https://github.com/symfony/symfony/blob/5.x/src/Symfony/Component/DependencyInjection/ContainerInterface.php) returns `array|bool|float|int|string|null` as value.

This is causing false positive in phpstan analysis, when you know that returned value has a specific type and you try to use it. For example, if you retrieve a string using `$container->getParameter('my_par

[2021-02-04 11:49] ondrejmirtes commented on #127
Hi, there's already an extension for retrieving services out of the container here https://github.com/phpstan/phpstan-symfony/blob/master/src/Type/Symfony/ServiceDynamicReturnTypeExtension.php, feel free to get inspired and implement it for parameters too.

[2021-02-07 22:39] jorismak opened #128 "no container .xml written by Symfony anymore. Problem or not?"
Not really 'an issue', more a question.

I had a working phpstan setup for a Symfony 5.2 project. The phpstan.neon contained something like this:
[code]

But now - after installing another symfony component I believe, with a `composer require translator` the Symfony cache:clear doesn't write any xml file at all in the var/cache/dev directory.

The project is working fine :). It seemed the Symfony

[2021-02-08 06:14] mhujer commented on #128
@jorismak which Symfony version do you use? There was an issue in 5.2.0 which caused exactly this: https://github.com/symfony/symfony/issues/39240

[2021-02-08 06:23] ondrejmirtes commented on #128
Yes, it's mentioned here https://github.com/phpstan/phpstan-symfony/issues/112.

[2021-02-08 13:23] jorismak commented on #128
I guess I didn't searh hard enough.

Still weird that the problem 'suddenly popped up'. The project was started at 5.2.x and worked fine, and now suddenly didn't work without any explicit `composer update`s.

Maybe something sneaked through in a coworker's PR  or something.. 🤷‍♂️ .

I'll use `lint:container` as a workaround if I get it again... upgrading seems better :)

[2021-02-08 13:24] #128 closed

[2021-02-11 22:31] bendavies opened #130 "Call to an undefined method Symfony\Component\Config\Definition\Builder\NodeParentInterface::scalarNode()"
Hi there!

since updating to 0.12.17, I'm now receiving:
[code]
for code such as:

[code]

Thanks!

[2021-02-11 22:34] ondrejmirtes commented on #130
/cc @ruudk 😊

[2021-02-12 07:07] ruudk commented on #130
Working on that today!

[2021-02-13 07:38] #130 closed

[2021-02-13 19:37] ruudk commented on #91
Fixed in https://github.com/phpstan/phpstan-symfony/pull/107

Can be closed.

[2021-02-13 19:49] #91 closed

[2021-02-17 08:04] mitelg opened #133 "[Command] Required argument can not return `null`"
if you add an argument to your command which is required:

`$this->addArgument('name', InputArgument::REQUIRED)`

then

`$name = $input->getArgument('name');`

could not return `null`.

This is also the case for default values:
`$this->addArgument('ids', InputArgument::IS_ARRAY | InputArgument::OPTIONAL, [])`

[2021-02-17 08:09] ondrejmirtes commented on #133
Please send a PR that fixes it here: https://github.com/phpstan/phpstan-symfony/blob/master/src/Type/Symfony/InputInterfaceGetArgumentDynamicReturnTypeExtension.php

[2021-02-17 08:16] mitelg commented on #133
will try that, once I have the time :smiley: :+1:

[2021-02-17 10:16] mitelg opened #134 "[Command] option with config `InputOption::VALUE_NONE` is always a boolean"
an option like this `$this->addOption('keep-user-data', null, InputOption::VALUE_NONE, 'Keep user data of the plugin');` is always `true` or `false` depending on whether the option is provided or not.

[2021-02-17 10:18] ondrejmirtes commented on #134
Hi, just to be sure, do you provide your own `console_application_loader`? https://github.com/phpstan/phpstan-symfony#console-command-analysis

[2021-02-17 10:53] mitelg commented on #134
oh wow, shame on me :facepalm:  Didn't see this config. this resolves my two issues :sweat_smile:

[2021-02-17 10:53] #134 closed

[2021-02-17 10:53] mitelg commented on #133
fixed because of https://github.com/phpstan/phpstan-symfony/issues/134#issuecomment-780453267

[2021-02-17 10:53] #133 closed

[2021-02-27 07:43] COil opened #136 "Service "http_client" is not registered in the container"
Hi, I have this warning which seem related to the Symfony plugin :

[code]

I tried with "HttpClientInterface" same result.

Here is the code :

[code]

When debugging the service I have this :

    ! [NOTE] The "http_client" service or alias has been removed or inlined when the container was compiled.

I have a similar call :

[code]

No warning is returned in this case, but I don't have a "alias

[2021-02-27 07:50] ondrejmirtes commented on #136
Hi, please create a small reproducing repo that shows your problem.

[2021-02-28 16:29] COil commented on #136
Here it is:

https://github.com/COil/phpstan-symfony-issues-136/commits/master

I thought at first that I would not have the same bug with an almost empty project, but no I have the same error.

[2021-02-28 16:54] mhujer commented on #136
@COil I guess that it may be related to Symfony using a different container XML in the test environment (See my blogpost https://blog.martinhujer.cz/how-to-configure-phpstan-for-symfony-applications/ - and search the page for _"srcApp_KernelTestDebugContainer"_)

The second idea is that the `http_client` is not injected into any real controller (or anywhere) so it is inlined away for good (and eve

[2021-02-28 17:22] COil commented on #136
Yes indeed, thanks for the hint.

[2021-02-28 17:31] COil commented on #136
symfony:
        container_xml_path: ../var/cache/test/App_KernelTestDebugContainer.xml
        #container_xml_path: ../var/cache/prod/App_KernelProdDebugContainer.xml

It's indeed OK with this setup or using the prod env.

[2021-02-28 17:31] COil commented on #136
[code]

[2021-02-28 17:36] #136 closed

[2021-03-01 15:11] TamasSzigeti opened #138 "Cannot declare interface PhpParser\NodeVisitor"
This was already reported in https://github.com/phpstan/phpstan/issues/4067 but a reproducer wasn't provided so I created one:
Repo: https://github.com/lingoda/stan_redeclare_repro
Failing stan: https://github.com/lingoda/stan_redeclare_repro/runs/2005010757

As suggested in the original report, it is somehow caused by `$input->getOption()` in the Command, in combination with the installed `jms/tr

[2021-03-01 15:15] ondrejmirtes commented on #138
See the note at the end of the README: https://github.com/phpstan/phpstan-symfony#console-command-analysis that starts with "You may then encounter an error with PhpParser:"...

[2021-03-01 15:15] #138 closed

[2021-03-01 15:23] TamasSzigeti commented on #138
Oops sorry, haven't seen that

[2021-03-28 11:04] vasilvestre commented on #20
I really wonder how to configure it but PHP packages. The container isn't found and wrong types are still detected. Is there any change to do ?

[2021-03-28 11:56] ondrejmirtes commented on #20
@vasilvestre You don't need a DI container to achieve this, you just need to return a configured Application instance from the `console_application_loader` file. Feel free to open a new issue if you have a specific problem with this.

[2021-04-07 22:29] FerJEP commented on #127
@garak Hi, Did you work around this issue?

[2021-04-08 06:04] garak commented on #127
not yet

[2021-04-11 22:57] ThomasLandauer opened #141 "console-application.php for Symfony 5.1?"
Since `config/bootstrap.php` doesn't exist anymore in Symfony 5.1 (see https://github.com/symfony/symfony-docs/issues/13759), the example `console-application.php` at https://github.com/phpstan/phpstan-symfony#console-command-analysis doesn't work anymore.

I did it quick and dirty like so, but what's the recommended way (to also be shown in README)?:
[code]

`object-manager.php` at https://github

[2021-04-12 05:13] mhujer commented on #141
My `console-boostrap.php` looks like this:

[code]

And `doctrine-orm-bootstrap.php`:

[code]

[2021-04-12 10:48] ondrejmirtes commented on #141
@mhujer Can you please send a PR here and in phpstan-doctrine that updates the instructions in the README? I hope the new way is also backward compatible with older Symfony/Doctrine versions. Thank you.

[2021-04-12 11:27] ThomasLandauer commented on #141
For Symfony 4.4 they're recommending to have a `bootstrap.php`:
https://symfony.com/doc/4.4/configuration/dot-env-changes.html#updating-my-application
vs.
https://symfony.com/doc/current/configuration/dot-env-changes.html#updating-my-application

[2021-04-12 13:29] leongersen opened #143 "InputBag::all with argument should have string[] return type"
#107 adds a dynamic return type extension for the `$default` parameter on `InputBag::get`, which is great. `InputBag` has another method with a dynamic return type, `all`. When called with the `$key` argument, this function has the return type `string[]` (it can also throw). The return type is currently `mixed[]`.

[2021-04-13 09:50] leongersen commented on #143
I've created a pull request: #144

[2021-04-14 14:41] leongersen commented on #143
#144 got merged.

[2021-04-14 14:41] #143 closed

[2021-04-20 11:00] VincentLanglet opened #149 "MutableAclProviderInterface stub is not working"
The following PR is failing:
https://github.com/sonata-project/SonataAdminBundle/pull/7095

The interesting code is the following
[code]
which is throwing an error
[code]

the stub of MutableAclProviderInterface is supposed to be
[code]

[2021-04-20 11:16] ondrejmirtes commented on #149
The method `findAcl` is not defined on MutableAclProviderInterface but on AclProviderInterface. Please update the stub and look for other similar issues. Thanks.

[2021-04-20 12:06] VincentLanglet commented on #149
You mean this way ?
[code]

[2021-04-20 12:07] ondrejmirtes commented on #149
No. Just move the `findAcl()` method to the `AclProviderInterface` stub.

[2021-04-20 12:10] VincentLanglet commented on #149
`findAcl` is already in the AclProviderInterface stub: https://github.com/phpstan/phpstan-symfony/pull/148/files#diff-33f2d256bf885a2590268760c701c32e54da27bd8b74399853b0d69bc668fad8

I wanted to override the return type of these method to use `MutableAclInterface` instead of `AclInterface`.

The first time I made this stub I tried with generics, but you told me:

[2021-04-20 12:16] ondrejmirtes commented on #149
In that case it's something that needs to be supported in PHPStan core. I wasn't aware it's not going to work like that.

[2021-04-23 20:30] #141 closed

[2021-04-27 17:43] andrey-bondar commented on #76
It was fixed in https://github.com/phpstan/phpstan-symfony/pull/151

[2021-04-27 17:48] #76 closed

[2021-05-01 15:20] Kocal commented on #127
Hi guys!

I'm actually working on it since I faced the issue some days ago.

I copy/pasted services-related code but for parameters and was able to build a `DefaultParameterMap` given the XML Symfony container.
Now I just need to create a phpstan extension and I will be ready to open a PR.

[2021-05-02 09:02] ondrejmirtes commented on #127
Implemented by https://github.com/phpstan/phpstan-symfony/pull/152, thanks @Kocal!

[2021-05-02 09:02] #127 closed

[2021-05-02 09:12] ondrejmirtes commented on #127
Enjoy it in phpstan-symfony 0.12.29 :)

[2021-05-02 16:28] alexander-schranz opened #153 "Parameter are seen as constant values and throw an error on evaluate"
First I want to thank you for this great piece of software it make our live a lot easier and avoids a lot of bugs!

In the new update there was added that phpstan knows about the return type of `getParameter`.
Parameter can be different between environments, so I think they should not be seen as constant values.

The following code in our case:

[code]

Does produce now:

[code]

Another way could

[2021-05-03 07:50] shyim opened #154 "Container resolution does not work on synthetic services"
[code]

Many errors occur due to missing lookup

[code]

Works, but isn't a `synthetic` service anymore.

[2021-05-03 07:53] ondrejmirtes commented on #154
What errors?

/cc @Kocal Could you look into this? Thanks!

[2021-05-03 08:02] ondrejmirtes commented on #153
Do you think that all parameter values should be generalized? Right now I tried this:

[code]

And it leads to all these tests that need to be updated:

[code]

[2021-05-03 08:02] ondrejmirtes commented on #153
/cc @Kocal

[2021-05-03 08:10] Kocal commented on #153
I suppose we can modify this line https://github.com/phpstan/phpstan-symfony/blob/master/src/Type/Symfony/ParameterDynamicReturnTypeExtension.php#L92
to `if (!isset($methodCall->args[0]) || !$this->constantHassers) {`.

I'm at work and I have things to do, but I will try to take a look asap

[2021-05-03 08:22] ondrejmirtes commented on #153
@Kocal It should be a separate option, and we should still keep the original type, so we shoud go from `1` to `int`, not the full union.

[2021-05-03 08:56] alexander-schranz commented on #153
I think it should return for an `1`  that it is type `int` and for `"test"` it is a `string`, instead of seeing that it can not be something else then 1 or "test" in that case.

Because parameters could contain different values in different environments. So not sure if we should introduce a  parameter here or set this just as default that we just guess the type by the current value and not the the

[2021-05-03 08:58] ondrejmirtes commented on #153
Yeah, I think it's actually reasonable. Thanks for the updated tests.

[2021-05-03 09:01] alexander-schranz commented on #153
@ondrejmirtes Thx for pointing me in to the right direction.
@Kocal Thx also to you for implementing this, its a great feature 👍 , hope you are fine with this change.

[2021-05-03 09:16] ondrejmirtes commented on #153
Fixed by https://github.com/phpstan/phpstan-symfony/pull/156

[2021-05-03 09:16] #153 closed

[2021-05-03 09:31] shyim opened #157 "Parameter return types introduces will evaluate always false"
We have an our project a Container Parameter `shopware.release.version_text` which contains version texts like RC etc.

In Git Installation it uses always the default `___VERSION_TEXT___`. With the new Parameter understanding, PHPStan fails now with
`Strict comparison using !== between '___VERSION_TEXT___' and '___VERSION_TEXT___' will always evaluate to false. `

Code-Snippet:
[code]

How can we

[2021-05-03 09:33] ondrejmirtes commented on #157
Already fixed in phpstan-symfony 0.12.30: https://github.com/phpstan/phpstan-symfony/issues/153 + https://github.com/phpstan/phpstan-symfony/pull/156

[2021-05-03 09:33] #157 closed

[2021-05-03 16:13] zacharylund opened #158 "Symfony container collection type count bug"
Version 0.12.29 and 0.12.30 may have introduced some bugs regarding container parameter checking.

I created a brand new Symfony 5.2 project, installed PHPStan and the Symfony extension, and created a basic config file to specify the container_xml_path.

Then I added this to config/services.yaml:

[code]
And this to a controller:

[code]

The output doesn't make sense.

PHPStan should either throw

[2021-05-03 17:56] ondrejmirtes commented on #158
Please show how the dumped test_collection looks like in the provided XML container, thanks.

[2021-05-03 18:41] zacharylund commented on #158
[code]

[2021-05-04 16:09] ondrejmirtes commented on #158
Fixed: https://github.com/phpstan/phpstan-symfony/commit/ebf89e81c60e3c7a0417fa5166fd6da50139dde5

Released in 0.12.31.

[2021-05-04 16:09] #158 closed

[2021-05-04 17:17] zacharylund commented on #158
@ondrejmirtes Thanks for taking a look at this so quickly. That fixed the empty checks against an empty collection. However, here's a more thorough example run against 0.12.31. A collection with values still fails empty checks.

config/services.yaml:
[code]

var/cache/dev/App_KernelDevDebugContainer.xml:
[code]

[code]

[2021-05-04 17:49] ondrejmirtes commented on #158
Alright: https://github.com/phpstan/phpstan-symfony/commit/bb80b1be3debd0ea1bd1486676cfc568155dc0b1 released in 0.12.32.

[2021-05-04 18:12] zacharylund commented on #158
Perfect! Thank you very much!

[2021-05-09 12:38] ondrejmirtes commented on #149
Nope, that's the wrong solution.

[2021-05-14 15:02] konradkozaczenko opened #161 "Unexpected option 'parameters -> exceptions'"
Hi, I am using phpstan v0.12.86 and phpstan-symfony v0.12.33. When I try tu run phpstan analyse:
[code]
When I removed from phpstan-symfony/extension.neon lines
[code]

everything is ok

[2021-05-14 15:10] ondrejmirtes commented on #161
I don't think you're running PHPStan 0.12.86. Verify that by running `vendor/bin/phpstan --version`.

[2021-05-30 18:34] VincentLanglet opened #164 "FormView->getIterator is returning an ArrayIterator"
Hi @ondrejmirtes, I have an issue with the following code
[code]
returning the error:
[code]
but our code rely on the fact it's an ArrayIterator.

The stub is here: https://github.com/phpstan/phpstan-symfony/blob/master/stubs/Symfony/Component/Form/FormView.stub
But shouldn't Symfony phpdoc be used ?
[code]

[2021-05-30 19:21] VincentLanglet opened #165 "Analysis of Symfony command without providing a console loader"
This would be nice to have something similar to https://github.com/psalm/psalm-plugin-symfony/blob/8122414959e56601586853040aa13dac60ad0870/src/Handler/ConsoleHandler.php in order to get the correct type from the call
[code]
by using directly the declaration
[code]

This would be useful when there is no kernel in the bundle, only command and maker.

[2021-05-30 19:52] VincentLanglet opened #166 "FormInterface::getErrors could have a dynamic return extension"
Currently, its return type is a FormErrorIterator with inside
`Symfony\Component\Form\FormError|Symfony\Component\Form\FormErrorIterator`

The phpdoc is
[code]

So I would say it's always an iterator on `Symfony\Component\Form\FormError`, except if the parameter `true, false` are provided.

[2021-05-31 15:03] ondrejmirtes commented on #164
I guess it's complicated. Feel free to add the getIterator stub with PHPDoc here.

[2021-05-31 15:04] ondrejmirtes commented on #165
I don't see a reason to do that. PHPStan way works better and 100 % of the time.

Kernel isn't a requirement, all you need is a file that does:

[code]

[2021-05-31 15:04] #165 closed

[2021-05-31 16:21] VincentLanglet opened #167 "console_application_loader for Maker"
I'm getting a lot of error from this file https://github.com/sonata-project/SonataAdminBundle/blob/master/src/Maker/AdminMaker.php

Most of them are because `$input->getArgument('...')` are considered as `string|string[]|null`.

I solve some of these issues for Command, thanks to the `console_application_loader` config.
Is it possible to have a similar option or using the same for maker ?

[2021-05-31 16:31] ondrejmirtes commented on #167
I don't know what's a maker?

[2021-05-31 17:51] VincentLanglet commented on #167
https://symfony.com/doc/current/bundles/SymfonyMakerBundle/index.html

A maker is a console command which generate some code.
It implements this interface: https://github.com/symfony/maker-bundle/blob/main/src/MakerInterface.php

I assume symfony is transforming the Maker to a real Command with this MakerCommand:
https://github.com/symfony/maker-bundle/blob/main/src/Command/MakerCommand.php

[2021-05-31 20:16] VincentLanglet commented on #164
Sure https://github.com/phpstan/phpstan-symfony/pull/168 should fix it, isn't it ?

[2021-06-01 08:48] #164 closed

[2021-06-04 16:47] codeTom opened #172 "Command addOption fails with boolean default"
Using a `bool` as default value for a command option with `InputOption::VALUE_REQUIRED` fails with `Parameter #5 $default of method Symfony\Component\Console\Command\Command::addOption() expects int|string|null, bool given.`.

The phpdoc for this function had
`@param string|string[]|int|bool|null $default     The default value (must be null for InputOption::VALUE_NONE)` until recently and current

[2021-06-04 17:39] tarlepp opened #173 "Using `$foo = static::getContainer()->get(FooBar::class)` in tests is not working as expected"
Simple example in test class:

[code]

And phpstan is giving following error:

[code]

[2021-06-05 07:35] VincentLanglet commented on #167
@javiereguiluz and @weaverryan, I saw you work a lot on the MakerBundle, maybe you could help me to understand how to solve.

Phpstan-symfony allow to register a console-loader
[code]
In order for phpstan to access to the different command of the application.

Then, when we're doing `$input->getOption('foo')`, phpstan is using
[code]
to get all the command, and input definitions, in order to find

[2021-06-06 15:36] ondrejmirtes commented on #172
Yeah, feel free to send a PR, thanks :)

[2021-06-06 15:37] ondrejmirtes commented on #173
What does analysing the following code say?

[code]

[2021-06-06 15:53] tarlepp commented on #173
output is

[code]
![image](https://user-images.githubusercontent.com/595561/120931030-7c07b100-c6f8-11eb-8c8e-71e9af2ad0be.png)

[2021-06-06 15:58] ondrejmirtes commented on #173
In that case I don't know why it doesn't work, the code should always be handled by https://github.com/phpstan/phpstan-symfony/blob/master/src/Type/Symfony/ServiceDynamicReturnTypeExtension.php.

[2021-06-06 16:18] tarlepp commented on #173
I think that I found the issue, looks like I have added typo to my configuration;
[code]

🤦🏻

@ondrejmirtes thanks for your feedback!

[2021-06-06 16:18] #173 closed

[2021-06-07 15:29] codeTom commented on #172
PR for adding BooleanType is above, what do you think about removing int? Looks like all currently supported versions of symfony (4.4, 5.2+) have removed `int` from the `$default` types ( https://github.com/symfony/symfony/commit/bbf786c3dbe660dde6c38620ce5f86fc361f47f6 ), I can add https://github.com/codeTom/phpstan-symfony/commit/7d82bb6aa4f6585ed3f72fdc9bb0e7fd8b11f5cd to the PR to remove it fr

[2021-06-07 16:28] mmarton commented on #84
Hi @gmponos

Did you find a solution for this? I would like to catch any forgotten dump() statement before our code hits production.

[2021-06-08 08:10] mmarton commented on #84
Not that different. dump() was just an example that recently happened to us. What I would like to catch in general is any call to a dev dependency (composer require-dev section). If I could somehow use the prod container for phpstan testing It would catch all not loaded / not defined function calls.

thanks for the links, I will check them

[2021-06-08 08:13] ondrejmirtes commented on #84
This is what https://github.com/maglnet/ComposerRequireChecker is for.

[2021-06-10 12:35] #172 closed

[2021-06-16 07:49] mitelg opened #175 "Plugin could not determine class-string parameter"
Hey there :blush: :wave:

Is it possible to determine class-string parameters for the `Symfony\Component\DependencyInjection\ContainerInterface::get` method?
Have a look at this example: https://phpstan.org/r/3106799a-1bca-447f-92b0-defadcd3dd60

as `$className` parameter I get class names of classes which implement the `TestInterface`. Is it somehow possible to resolve this error?

[2021-06-16 07:53] ondrejmirtes commented on #175
Hi, sure, with this stub file: https://phpstan.org/r/7d90e24c-1980-4d1f-a9cb-9353a80407cb (https://phpstan.org/user-guide/stub-files)

I don't think that generally the Symfony DIC works like that, so it's a special case just for your codebase, right?

[2021-06-16 09:29] mitelg commented on #175
:thinking:

but if I call the get method with a FQCN PHPStan has no problem to detect the right class. so if I define that the class is of type `TestInterface` before, why cannot PHPStan detect that a class with this interface is returned?
Or do I miss something here? :slightly_smiling_face:
Can you show me, where the container logic is located?

[2021-06-16 12:51] ondrejmirtes commented on #175
Do you mean that with the actual extension, these two results would be different? https://phpstan.org/r/c52d337d-3d48-4338-8644-fb840b37d69b

What the extension currently does is that when given a service name `'test'`, it will look up the actual service type in the container, and resolve the returned type to that. Is it a common practice in Symfony to name the DI services the same way as classes?

[2021-06-16 13:44] mitelg commented on #175
I don't know if it is best practice, but it is also used a lot in the examples in the Symfony docs like this:
[code]
We are also using this syntax in 99% of the cases. With this the class attribute is not required.

Until now, I thought this is like the extension was working :grin:
We give a FQCN into the get method and PHPStan knows that the return object is of type of that given class :slightly_

[2021-06-16 15:25] malarzm commented on #89
Just bumped into same issue, seems that https://github.com/phpstan/phpstan-symfony/commit/c340de842c656bdf5ea01eed07fce58ceb6eeb61 wasn't a full fix

[2021-06-16 15:55] ondrejmirtes commented on #175
So how does Symfony DIC decide what object to return in that case? Can you point me to a piece of code in Symfony that does that?

[2021-06-17 07:11] mitelg commented on #175
~Maybe again I wanted to do things, which do not make sense~ :smiley:
~Anyway I try to explain~ :slightly_smiling_face:

I thought about that again, and I think it does not makes sense, what I had in mind :grin:

thanks again for the discussion and rubber ducking :slightly_smiling_face:
I hope, I did not steal to much much time from you :see_no_evil:

[2021-06-17 07:11] #175 closed

[2021-06-28 01:17] vhenzl opened #177 "`InputBag::get()` should be smarter"
While technically correct, the change in 716a70de8524928036d5bc0d880d1117fa77de82 leads to false positive reports for code like this:

[code]

AFAIK Symfony never converts query string values from `string` to other types. So unless the `$defaultValue` argument is specified, `InputBag::get()` always returns `string|null`. And if `$defaultValue` is specified, the return type should be `string|T` whe

[2021-06-30 07:34] jordisala1991 opened #178 "Controller with multiple has calls in the same nested if"
We are trying to increase Sonata phpstan levels and we found a strange behavior when trying to upgrade to level 5:

https://github.com/sonata-project/SonataMediaBundle/pull/2002#discussion_r661189046

The thing is, when I have the controller with 2 checks on has for a different services on the same if, it fails:

[code]

The code is something like this:

[code]

If have tried this other approach:

[2021-06-30 07:43] ondrejmirtes commented on #178
I'm not sure what's wrong, but try taking advantage of the advanced analysis where PHPStan knows what's in your DIC: https://github.com/phpstan/phpstan-symfony#configuration

[2021-06-30 07:48] VincentLanglet commented on #178
Seems related to https://github.com/phpstan/phpstan-symfony#constant-hassers

[2021-06-30 07:50] ondrejmirtes commented on #178
@VincentLanglet I don't think so, they don't have the configuration to read DIC contents yet.

[2021-06-30 09:07] VincentLanglet opened #179 "voteOnAttribute() should be contravariant with parameter $subject (mixed) of method Symfony\Component\Security\Core\Authorization\Voter\Voter::voteOnAttribute()"
When writing a Voter, there is two methods
[code]
and
[code]

With this code I get, with the phpstan-strict plugin the error:
[code]

But even the phpdoc of symfony of this method is saying

So I should be able to consider the param as a Subscription without any error.
Same exists for
- NormalizerInterface::normalize
- DenormalizerInterface::denormalize

It was reported to psalm here: https://gith

[2021-06-30 09:39] VincentLanglet opened #180 "$request->hasSession() is always true"
Hi @ondrejmirtes.

The following code is reported as an error by phpstan-strict-rules
[code]

I don't know why and didn't succeed to reproduce it in the playground.

the method hasSession is
[code]

The property in the request has wrong phpdoc
[code]

I tried removing the `true when the Request contains a Session object, false otherwise` part of the phpdoc or adding `null` to the protected propert

[2021-06-30 09:43] ondrejmirtes commented on #179
Hi, there's no way in the typesystem to express this situation. If Symfony's codebase used native types, PHP would complain about the same situation.

Psalm's way of solving this was to just ignore this issue, which isn't great. If you're aware of this problem and you're sure it works for you, you can ignore this error by yourself - [the feature is designed](https://phpstan.org/user-guide/ignoring

[2021-06-30 09:43] #179 closed

[2021-06-30 09:44] ondrejmirtes commented on #180
Duplicate of https://github.com/phpstan/phpstan-symfony/issues/86

[2021-06-30 09:44] #180 closed

[2021-06-30 09:47] VincentLanglet commented on #179
In the futur I was planning to write
[code]

Is it planned to add name to the different errors ? Because it would be nice to have a way to write something like
[code]
in order to only ignore some errors.

[2021-06-30 09:48] ondrejmirtes commented on #86
This seems right. It's because of this extension: https://github.com/phpstan/phpstan-symfony/blob/9cd6919b8c695206dc24b5b5e8a082cd3b8f4c05/src/Type/Symfony/RequestTypeSpecifyingExtension.php

I think it was created back when `getSession()` returned nullable type in Symfony 4.x.

The extension should be modified to return empty `new SpecifiedTypes()` when the type is already non-nullable.

[2021-06-30 09:49] ondrejmirtes commented on #179
That would lead to the same error.

https://github.com/phpstan/phpstan/issues/3296

[2021-06-30 09:53] VincentLanglet commented on #86
In my project, I'm using Symfony 4.x ; so `getSession` is nullable.

And I'm curious how the `getSession` type specifier has an impact on the `hasSession` resolution

[2021-06-30 09:57] ondrejmirtes commented on #86
If you're narrowing down a type that's already the same type, you're getting this error. For example `is_int($int)` would report the same thing.

[2021-06-30 09:57] ondrejmirtes commented on #86
In that case the PHPDoc above the method is wrong.

[2021-06-30 10:05] VincentLanglet commented on #86
Since the phpdoc is wrong in Symfony 4 and in Symfony 5 it's never nullable, can't we just remove this type specifier ?

[2021-06-30 11:47] ondrejmirtes commented on #86
It's marked as nullable in versions before 4.4: https://github.com/symfony/symfony/commit/f62a3c0810663b19c044488f407b3dfab0a53ba0#diff-779a02ff90f6fc60228d531d684382d3b585b3c823ba53028ff8d2a9e03a2ea0L705

[2021-06-30 12:03] mmarton commented on #86
below 4.4 versions are EOL-d: https://symfony.com/releases

[2021-06-30 12:04] ondrejmirtes commented on #86
I've told you what needs to be done to fix this:

[2021-06-30 12:11] VincentLanglet commented on #86
Yes, I'm on it. I've some difficulties adding a failing test first.

[code]
is not failing when `$request->hasSession()` is considered as `true`.

What would be the right way to check that the method is considered as a bool and not as `true` ?

[2021-06-30 12:13] ondrejmirtes commented on #86
The problem should be reproducible with a test similar to this one: https://github.com/phpstan/phpstan-beberlei-assert/blob/master/tests/Type/BeberleiAssert/ImpossibleCheckTypeMethodCallRuleTest.php

[2021-06-30 13:14] VincentLanglet commented on #86
Done https://github.com/phpstan/phpstan-symfony/pull/181

[2021-07-01 05:50] jordisala1991 commented on #178
Disabling constant_hassers does not fix the problem. To be noted that if I split:

[code]

into

[code]

it works (but well my logic won't be correct because I need to check in the same conditional for both services).

[2021-07-01 07:29] #86 closed

[2021-07-01 07:35] ondrejmirtes commented on #178
Fixed: https://github.com/phpstan/phpstan-symfony/commit/58b5959a11e26ce495b424ee634e721aaa9674d1

[2021-07-01 07:35] #178 closed

[2021-07-01 07:40] ondrejmirtes commented on #177
Symfony is really confusing here. This change was triggered by https://github.com/symfony/symfony/commit/381a0a19f741da314dff99fc64cc75d674fc7beb - I guess we'd have to make InputBag generic and differentiate between POST and other uses... But I'm not fluent in Symfony enough to know all the places where InputBag can be retrieved from to mark them correctly.

[2021-07-01 07:58] jordisala1991 commented on #178
Thanks @ondrejmirtes ! :)

[2021-07-01 13:07] faizanakram99 opened #182 "Support for Symfony\Config\* classes"
Symfony now supports config builder classes https://symfony.com/blog/new-in-symfony-5-3-config-builder-classes, added in this PR https://github.com/symfony/symfony/pull/40600

PHPStan does not recognise those classes.

![image](https://user-images.githubusercontent.com/10880992/124129295-478ad900-da9b-11eb-842f-53bc3b40c96f.png)

Can we support them ?

[2021-07-01 13:08] ondrejmirtes commented on #182
Hi, what's special about them? You can follow the usual Discovering Symbols guide to let PHPStan know about unknown classes: https://phpstan.org/user-guide/discovering-symbols

[2021-07-01 13:23] faizanakram99 commented on #182
Thanks, `scanDirectories` works.

These classes are generated and are dumped into `%kernel.build_dir%/Symfony` directory.

[2021-07-01 13:27] #182 closed

[2021-07-06 17:17] jaydiablo commented on #177
We recently upgraded from `0.12.27` to `0.12.38` of this plugin and started getting a lot of false positives on code like this:

`$request->request->get('field_name', '');`

`$request->request` is an InputBag, and the previous behavior seemed that it would use the second parameter of the `get` method to determine what the type would be (in this case, a `string`), now it appears that it sees it as

[2021-07-08 12:45] ondrejmirtes opened #183 "Test AclProvider change"
Hi @VincentLanglet,
I had to change the stubs you contributed because of generic covariance error (https://github.com/phpstan/phpstan-symfony/commit/41fff98845bb8c4c0dc6c56f82b75358e57ccef9). Can you please test `phpstan/phpstan-symfony:dev-master` to see if it works as expected in real-world projects? Thank you.

[2021-07-08 12:58] VincentLanglet commented on #183
The change you made is fixing the issue: https://github.com/phpstan/phpstan-symfony/issues/149

But now I'm getting the following errors:
[code]

This is not natural to fix because when I click on the classes, I end up in the Symfony code, with no template.

Also, if I add the generic type, I end up with a psalm error
[code]

So it requires to write
[code]
Or the same stub should be added to the p

[2021-07-08 13:08] ondrejmirtes commented on #183
So the problem I'm trying to solve here is this error:

[code]

This is easily reproducible with plain PHPStan: https://phpstan.org/r/e4afbbd9-8a90-489c-82ca-a071c759f52f

The error is valid - SplObjectStorage doesn't have `@template-covariant` because of the `attach()` method. So I'm trying to solve it with the linked commit. The downside is that now the AclProviderInterface and MutableAclProvide

[2021-07-08 13:23] VincentLanglet commented on #183
Sure, that was the first solution I had in mind to solve this issue: https://github.com/phpstan/phpstan-symfony/pull/92
But you wanted to avoid this,
cf https://github.com/phpstan/phpstan-symfony/issues/149#issuecomment-835799226
and https://github.com/phpstan/phpstan-symfony/pull/92#discussion_r470475310

I just think the same PR should be done to psalm-symfony in order to avoid the `TooManyTempl

[2021-07-08 13:31] ondrejmirtes commented on #183
Yeah, because I thought that it wasn't necessary to make the interfaces generic, but apparently it is.

Please open an issue in https://github.com/psalm/psalm-plugin-symfony/issues, ask them what they think and link this issue there. Thank you.

[2021-07-08 13:40] VincentLanglet commented on #183
I opened https://github.com/psalm/psalm-plugin-symfony/issues/189

[2021-07-09 07:38] VincentLanglet commented on #183
I also opened https://github.com/symfony/security-acl/pull/83 ; I assume it would avoid phpstan to use a stub for these interface, isnt it ?

[2021-07-15 10:27] VincentLanglet commented on #183
@ondrejmirtes https://github.com/symfony/security-acl/pull/83 was merged.
Should we remove the stub here ?

[2021-07-15 11:32] ondrejmirtes commented on #183
Removed and released, thanks.

[2021-07-15 11:32] #183 closed

[2021-07-16 07:32] VincentLanglet commented on #149
Closing because of https://github.com/phpstan/phpstan-symfony/releases/tag/0.12.39

[2021-07-16 07:32] #149 closed

[2021-07-17 07:23] jordisala1991 opened #185 "Console Lazy Commands Analysis"
While doing this PR: https://github.com/sonata-project/SonataMediaBundle/pull/2010

I have found that I wasn't unable to activate the console `console_application_loader` and make it work.
PHPStan was still reporting the `->getArgument` or `->getOption` as `string|string[]|boolean|null`.

The issue is caused by commands defined like this:

[code]

Notice that I defined the $defaultName and $defaul

[2021-07-17 08:33] jordisala1991 commented on #167
Could be related to the lazy commands thing? can you check what thing returns for the `$command`? Or it is not even on the container?

[2021-07-17 09:04] jordisala1991 commented on #167
Yes, it is related too. In SonataAdmin there are one problems @VincentLanglet :

MakerBundle is not registered on AppKernel.php

And on PHPStan-symfony there are kind of 2:

1. make commands appear, BUT they are registered as LazyCommands, so we need to solve first: #186
2. make commands are not even picked because of this code:

[code]

The maker class is not the same as a command (even though it

[2021-07-18 07:22] ondrejmirtes commented on #185
Implemented by: https://github.com/phpstan/phpstan-symfony/pull/186

[2021-07-18 07:22] #185 closed

[2021-07-18 23:26] VincentLanglet commented on #167
Now the LazyCommand PR is merged, would you be able to provide a PR for Maker ?

Why it shouldn't ?

[2021-07-19 19:21] acelaya opened #188 "InputInterface::getOption return type not properly inferred if called through a helper method"
This is kind of an edge case, and probably doesn't have an easy solution, but posting here in case there's some workaround that I may have missed.

Basically, I have some helper methods used to register and read options from a `Symfony\Component\Console\Input\InputInterface` object, in a way that both camelCase and kebab-case  names work (I used to define options in camelCase but I'm migrating to

[2021-07-19 19:26] ondrejmirtes commented on #188
This is expected behaviour. This documentation page explains why: https://phpstan.org/user-guide/troubleshooting-types

In order to fix this, you need to replicate dynamic return type extension coming from phpstan-symfony modified for your own code.

[2021-07-19 19:26] #188 closed

[2021-07-19 19:31] acelaya commented on #188
I'll take a look to that. Thanks for the tip.

[2021-07-22 09:15] duboiss opened #189 "Lazy Command"
Since `0.12.41` (#186), I have the following error:

[code]

With `--debug`:
![image](https://user-images.githubusercontent.com/29716703/126615285-c4a17584-5934-4894-ac9e-4ef1bf7b6ee6.png)

I don't have this issue in `0.12.40`.

Line 130:
[code]

Line 130 on another command which triggers error:
[code]

So I think line 130 matches another file but the `--debug` exit on my commands.

I don't use th

[2021-07-22 09:18] ondrejmirtes commented on #189
Please somehow disable the Symfony error handler so that we can see the full stack trace and not just the exception rendered by Symfony.

[2021-07-26 21:00] VincentLanglet commented on #167
Seems like it now works for Maker too: https://github.com/sonata-project/SonataAdminBundle/pull/7352

[2021-07-26 21:00] #167 closed

[2021-07-26 21:07] VincentLanglet commented on #189
When do you have this message ? When running phpstan ?

The error come from.
https://github.com/symfony/symfony/blob/5.3/src/Symfony/Component/HttpFoundation/RequestStack.php#L120-L126

Somehow the `getSession` method is called, but it would be nice to know why and where...

[2021-07-26 21:13] duboiss commented on #189
Yes when running PHPStan, since `0.12.41`  as explained in the first line of the fist comment.

Yes but my command code has not changed.

I would need to get the PHPStan error and not symfony.
But I haven't managed to disable the Symfony error handler yet.

See if anyone else has the same problem shortly.

[2021-07-26 21:24] VincentLanglet commented on #189
I don't know you managed to get the Symfony error handler running during the phpstan analyse at the first place...

If you have a repository to debug, it could help.

You can also try to change the code of the command, in order to see if it has impact on phpstan.
Removing all the code, half the code, and so on. Maybe a special line is making the phpstan crashing.
Knowing this special line could he

[2021-08-01 20:25] duboiss commented on #189
As far as I know there is nothing special in the project about this, but I will have an answer when I reproduce the code in a new repository.

Just to illustrate the situation

![image](https://user-images.githubusercontent.com/29716703/127783257-81ba5897-812c-413f-a9de-e192185a5efd.png)

Removing all the code, half the code, and so on. Maybe a special line is making the phpstan crashing.
Knowing

[2021-08-01 20:28] ondrejmirtes commented on #189
Latest PHPStan version does not rely on registered exception handler, so you should always get a useful stack trace with --debug. So try it.

[2021-08-05 15:20] duboiss commented on #189
`--debug` only gives me only the file name where the script returns an error.

I tried to reproduce the code on a blank project and didn't get the same "sessions" errors.
I assume that the basic project overrides some default behaviors.

Because no one else seems to have any problems since the update, I close this issue.

Thanks all

[2021-08-05 15:20] #189 closed

[2021-08-17 14:10] alexsakhnov opened #191 "False positive with \Symfony\Component\DependencyInjection\ParameterBag\ContainerBagInterface::get()"
Symfony `ContainerBagInterface` implements `Psr\Container\ContainerInterface` but actually [it returns a container parameter][1], not a service.

However `ContainerInterfaceUnknownServiceRule` checks for service existence, not parameter. For example this code

[code]

results in the following error

[code]

I suggest to ignore subtypes of `ContainerBagInterface` in the `ContainerInterfaceUnknownSe

[2021-08-17 15:03] ondrejmirtes commented on #191
Hi, this is easy to fix. See the instructions: https://phpstan.org/developing-extensions/type-system#querying-a-specific-type

Just adding an `if` with `(new ObjectType(ContainerInterface::class))->isSuperTypeOf($argType)->yes()` should be fine. There are already some exceptions there: https://github.com/phpstan/phpstan-symfony/blob/fe5f5d8db30e1d25a7e874497902bd900d6229ab/src/Rules/Symfony/Contai

[2021-08-18 06:57] #191 closed

[2021-08-21 08:57] benr77 commented on #177
I agree - it should look at the second parameter to `get()` which is the default value and determine the expected type from that. If it's not specified, it should fall back to `string|null`

[2021-08-21 09:35] ondrejmirtes commented on #177
@benr77 I disagree. You can have `$inputBag->get('foo', 1)` and it can still return `string`.

[2021-08-22 08:02] benr77 commented on #177
@ondrejmirtes OK good point you are correct.

The problem remains though - how do we get around all these false positives? Is there a workaround or is just ignoring them for the moment the best solution? Thanks

[2021-08-22 08:05] ondrejmirtes commented on #177
See https://github.com/phpstan/phpstan-symfony/issues/177#issuecomment-872005004 - if someones compiles a list of all possible places to get `InputBag` in a typical Symfony application, we can differentiate between `POST` and other usages.

[2021-08-22 08:19] benr77 commented on #177
Well `InputBag` is only used for POST/GET/COOKIE parameters, so certainly for any correctly designed app this should only be used in controller classes. I have checked several of my Symfony apps and the only place I see `new InputBag()` is in the `http-foundation/Request.php`

In the 5.1.0 changelog there is:

`Deprecated retrieving non-string values using `InputBag::get()`, use `InputBag::all()`

[2021-08-22 08:21] ondrejmirtes commented on #177
This commit shows that the intended message is "non-scalar" values, not "non-string" values: https://github.com/symfony/symfony/commit/381a0a19f741da314dff99fc64cc75d674fc7beb

I'm asking how a `GET` `InputBag` is retrieved as opposed to `POST` `InputBag` for example...

[2021-08-22 09:23] benr77 commented on #177
Do you mean:

[code]

https://symfony.com/doc/current/components/http_foundation.html#accessing-request-data

[2021-08-22 09:36] ondrejmirtes commented on #177
Two more questions:

1) Any other way to obtain an InputBag?
2) Is it usual for users to typehint InputBag in their application somewhere?

[2021-08-22 09:55] benr77 commented on #177
1) Not to my knowledge - but I suppose you could leverage it directly yourself for some reason, but why this would be useful over just using `ParameterBag` directly I don't know.
2) No, I don't think this would be very likely.

[2021-08-22 09:59] ondrejmirtes commented on #177
Alright, so my plan is to introduce some stubs that make InputBag generic, and then to typehint those Request properties properly.

[2021-08-22 13:31] vhenzl commented on #177
Generic `InputBag` should be fine for `$request->query` and `$request->cookies` but I'm not sure about `$request->request`. The `request` field can hold decoded JSON payload. It's mentioned in https://github.com/symfony/symfony/pull/40315#issuecomment-786609517 and is the reason why the type-hint in `InputBag::get()` has been updated in the first place.

Anyone could theoretically replace their `q

[2021-08-22 14:08] ondrejmirtes commented on #177
@vhenzl So is this fine or incorrect? What would you do?

[code]

[2021-08-22 14:53] ondrejmirtes commented on #177
Please test this before I release it: https://github.com/phpstan/phpstan-symfony/commit/95d9ae78605e5023e0edcf905c9b42da2a2a8359 (you'll need phpstan/phpstan dev-master too)

[2021-08-22 14:53] #177 closed

[2021-08-22 21:55] vhenzl commented on #177
Fine. It should be a sensible default for most people I believe.

I have just realised that `InputBag:::get()` can't return `array` ([on purpose](https://github.com/symfony/symfony/pull/41766)) so it makes it kinda unusable for parsed JSON. But if you have a parsed JSON payload in `$request->request`, you are unlikely to access it via `get()` anyway, you would just get the whole thing via `$reques

[2021-08-22 22:46] vhenzl commented on #177
Thanks, @ondrejmirtes!

I tried it and it works as expected for me. Needless to say, though, that we have just a few places with `get()`, the majority of our code uses `all()`, so @jaydiablo and @benr77 are better to give it try as well.

[2021-08-23 05:44] benr77 commented on #177
I just tested it too and it seems to be working well. I would be happy for you to release. Thanks for your efforts!

[2021-08-23 20:03] ondrejmirtes commented on #177
Awesome :) I'm gonna release it along with PHPStan 0.12.97 in the coming days.

[2021-09-01 06:34] Khartir opened #194 "Incorrect return type for InputBag::all()"
#144 changed the return type of `InputBag::all()` to `string[]`. Unfortunately that is incorrect: It is, for example, possible to do something like this: `GET /?items[][id]=1` which will cause `InputBag::all('items')` to return `[0 => ['id' => '1']]`.

[2021-09-01 13:05] zacharylund opened #195 "phpstan-symfony is no longer compatible with Symfony 4 because InputBag does not exist"
See failures: https://github.com/phpstan/phpstan-symfony/runs/3393866713

Symfony 4.4 does not have the class Symfony\Component\HttpFoundation\InputBag and the additions in https://github.com/phpstan/phpstan-symfony/commit/95d9ae78605e5023e0edcf905c9b42da2a2a8359 expect that class to exist in the stub files.

[2021-09-01 13:24] zacharylund commented on #195
I added this to a brand new Symfony 4.4 project:

[code]

Running phpstan produces this output:

[code]

[2021-09-01 15:17] Mick3DIY commented on #195
I confirm in a Symfony project 4.4.26, phpstan 0.12.97, phpstan-symfony 0.12.43. Works fine before the last update ;)

[2021-09-02 07:25] codegain commented on #195
Can also confirm: Symfony 4.4.30, phpstan 0.12.97 and phpstan-symfony 0.12.43 produces that output.
phpstan-symfony 0.12.42 works fine.

[2021-09-02 07:25] jmleroux commented on #195
Same issue on https://github.com/akeneo/pim-community-dev

[2021-09-02 12:17] ondrejmirtes commented on #195
Fixed: https://github.com/phpstan/phpstan-symfony/commit/c1627fce5b505b3f53d9d4fbd4d7963603305f98

Will need up-to-date phpstan/phpstan again.

[2021-09-02 12:17] #195 closed

[2021-09-02 12:34] ondrejmirtes commented on #195
And released: https://github.com/phpstan/phpstan-symfony/releases/tag/0.12.44

[2021-09-03 17:23] magikid opened #196 "Incorrect return type for InputBag::get with default value"
# Expected Behavior

When passing an `int` as the `$default` parameter to `InputBag::get($key, $default)`, I expect phpstan to correctly understand the return type as `string|int`.  If the key is found, `get` will return a string.  If the key is not found, it will return an `int`.

# Actual Behavior

phpstan returns this error:
[code]

# Steps to reproduce

I believe these are the relevant lines i

[2021-09-05 07:32] ondrejmirtes commented on #196
There are two issues:

1) Type inference - the return type needs to be a combination of `TValue` and the second argument type. In your description of the issue there actually isn't a proof of this problem, but you can verify that with `\PHPStan\dumpType($page)`. This could be fixed in InputBagDynamicReturnTypeExtension.
2) Your issue is about the type of the 2nd parameter which is currently set to

[2021-09-09 15:13] Tobion commented on #177
The solution does not seem right to me. See https://github.com/phpstan/phpstan-symfony/commit/95d9ae78605e5023e0edcf905c9b42da2a2a8359#r56194881
I get alot of false positive phpstan errors like

[2021-09-09 15:17] ondrejmirtes commented on #177
@Tobion When do you think it doesn't return a string?

[2021-09-09 15:46] Tobion commented on #177
The setter accepts any scalar. So the getter can also return any scalar.

[2021-09-09 15:49] ondrejmirtes commented on #177
@Tobion Do you have a use-case where you're setting values to an InputBag that you've got from Request through one of the public properties? Please open a new issue about that.

[2021-09-09 18:52] Tobion commented on #177
I don't know. But if it doesn't make sense, it shouldn't be like this in Symfony. It was changed recently to better support static analysis, but apparently it didn't make it better then if there are still workarounds needed.

[2021-09-27 17:26] magikid commented on #196
You're probably right.  I've just gone ahead and updated my usage of Symfony.

[2021-10-07 16:31] VincentLanglet opened #199 "The ParameterDynamicReturnTypeExtension doesn't support correctly syntax like `%env(bool:FTP_ACTIVE)%`"
`%env(bool:FTP_ACTIVE)%` should be considered as a bool but it's considered as a string.

 I end up with error like
[code]

Currently, the value is inferred with the code
[code]

There is a lot of env var processor: https://symfony.com/doc/current/configuration/env_var_processors.html

I can contribute, but how you do you want to handle this @ondrejmirtes ?
Should I check if the value start with `

[2021-10-07 21:53] ondrejmirtes commented on #199
I don't know the inner workings of PHPStan\Symfony\ParameterMap but I feel like it should somehow use the Symfony internals to correctly resolve this type.

[2021-10-18 07:48] benja-M-1 opened #201 "Symfony\Component\HttpFoundation\InputBag::get() wrong type for `$default`?"
Hi,

I just updated `phpstan-symfony` from `0.12.41` to `0.12.44` and PHPstan throws the following error:
```Parameter #2 $default of method Symfony\Component\HttpFoundation\InputBag<string>::get() expects string|null, int given.```

The code triggering this is `$request->query->get('limit', 10);`.

The problem is that, [according to the phpdoc](https://github.com/symfony/symfony/blob/5.4/src/Symf

[2021-10-18 07:51] #201 closed, assigned to nobody

[2021-11-02 16:01] mmarton opened #204 "Implementing DataTransformerInterface does not inherit types"
Hi!

[code]

Before release 1.0 this code was fine, now phpstan-symfony tells me that
"Method App\Form\Type\CustomType::transform() has parameter $value with no type specified."

the paramter has mixed typehint on the interface, and was inherited until now.

I know there can be breaking cheanges in a major release, but is this expected? Other interfaces don't behave like this.

[2021-11-02 16:48] jvasseur commented on #204
This is because the 1.0.0 release added a `DataTransformerInterface` stub that redefine the interface with type parameters.

Adding an `@implements DataTransformerInterface<string, array>` phpdoc to your class should fix the error but I agree that the error is quite confusing.

[2021-11-02 16:56] ondrejmirtes commented on #204
You're supposed to be getting this error on level 6:

See: https://phpstan.org/r/f49f5e8a-2b93-4383-9ec8-9ac1338af46d

You should still fix it, but that doesn't actually help you to solve this issue: https://phpstan.org/r/ec5831ce-3074-49aa-bd3c-b03acf0198f3

You're supposed to type what's in the array. At the very least you should say `mixed[]` but anything more specific is welcome.

[2021-11-02 16:56] #204 closed

[2021-11-03 08:38] leongersen commented on #194
I'll work on this issue, if that's ok

[2021-11-03 10:50] leongersen opened #206 "ExampleCommand not found when running unit tests"
I'm trying to run the unit tests locally, and I'm running into a strange error.

I've cloned the project, and ran `composer install` and `make`. The unit test step then fails in the two tests using `tests/Rules/Symfony/console_application_loader.php`. I've checked, and the class _is_ defined in the generated autoloader. The file also _is_ loaded. I feel like I'm overlooking something, but I can't

[2021-11-03 11:08] ondrejmirtes commented on #206
Hi, it works in the CI and locally for me too so I don't know what advice to give here...

[2021-11-03 12:41] leongersen commented on #206
The issue seems to be whether/when the file gets loaded. `ExampleCommand.php` is analysed in:

[code]

and loaded *and* analysed in:

[code]

If I disable the first two tests, the suite runs fine. If they *analyse* `ExampleCommand.php`, the class no longer gets loaded in the latter two tests.

[2021-11-03 13:02] leongersen commented on #206
I can resolve this issue and run all tests by forcing the file to load properly in `tests/bootstrap.php` (`require_once __DIR__ . '/Rules/Symfony/ExampleCommand.php';`).

I then run into the next loading issue when running PhpStan itself:

[code]

[2021-11-03 13:06] ondrejmirtes commented on #206
Would be nicer if the class got picked up my Composer autoloader.

[2021-11-03 13:19] leongersen commented on #206
If I use the same bootstrap file for PHPStan, and force loading of `SelfDescribing`, I can resolve the second issue as well.

[code]

[code]

I have no idea why this is not working in the regular autoloader. There's nothing out of the ordinary in my setup (PHP 7.4.20, Composer 2.1.11), and I don't see why it'd work differently in the CI.

[2021-11-03 14:10] leongersen commented on #206
There is two autoloaders registring, the regular one for phpstan-symfony, and the one from `phpstan.phar` (with `phar:///...` paths in it's classmap). It seems to me like the latter should not be trying to autoload the file. Instrumenting the ClassLoader with a stacktrace yields the following:

[code]

[2021-11-03 14:14] #194 closed

[2021-11-11 23:22] alexander-schranz opened #207 "Support for Symfony HandleTrait"
I think it would be great if the extension could automatically recognize the type of [`HandleTrait`](https://github.com/symfony/symfony/blob/5.4/src/Symfony/Component/Messenger/HandleTrait.php) of symfony.

The given message to the handle trait example:

[code]

does only have 1 Handler which return type the return type of the handle trait will be. Example:

[code]

The `bin/console debug:messenge

[2021-11-18 17:17] benjaminmal opened #208 "Adding support for OptionsResolver component"
It will be nice to support the [OptionsResolver](https://symfony.com/doc/current/components/options_resolver.html) component. By supporting I mean:
- Resolving the type / prototype of each defined options
- Check if the values given in the options array match the allowed types / values
- Check if there are missing required options
- Check if the user use deprecated options
- Check if the user use

[2021-11-18 17:25] ondrejmirtes commented on #208
Feel free to modernize the extension and contribute it here 😊

[2021-11-21 18:20] benjaminmal commented on #208
@ondrejmirtes I will try to work on it when I'll have time to :)

[2021-11-29 11:44] jeroennoten commented on #75
I created #211 to resolve this.

[2021-11-29 11:44] jeroennoten commented on #27
I created #210 to resolve this issue.

[2021-11-29 12:41] #75 closed

[2021-11-29 12:42] ondrejmirtes commented on #75
Fixed, merged, and released :)

[2021-11-29 12:42] ondrejmirtes commented on #27
Fixed by: https://github.com/phpstan/phpstan-symfony/pull/210

Merged and released :)

[2021-11-29 12:42] #27 closed

[2021-11-29 12:49] Pierstoval commented on #27
By the way, the exact same will happen to `KernelTestCase::getContainer()` method, because using `self::$container` is now deprecated as of Symfony 5.3 😅

[2021-11-29 12:50] ondrejmirtes commented on #27
Feel free to send another PR :)

[2021-11-29 15:08] Pierstoval commented on #27
@ondrejmirtes Is that it? => https://github.com/phpstan/phpstan-symfony/pull/212

I have no knowledge on how phpstan works, I just took example on #210, I have no idea on whether it's right or not 😅

[2021-11-30 08:37] darthf1 opened #213 "Private services in tests"
Hi!

After https://github.com/phpstan/phpstan-symfony/pull/211 I get a lot of `Service 'xxx' is private`, which is normally a good thing. But In my codebase I get these messages solely when I fetch services in my functional tests.

Example:
[code]
Mesage:
[code]

https://symfony.com/doc/current/testing.html#retrieving-services-in-the-test states:
[code]

So, I'm not sure whether these issues shoul

[2021-11-30 08:48] ondrejmirtes commented on #213
Please see if a change in the spirit of this PR works for you: https://github.com/phpstan/phpstan-symfony/pull/212

Thanks.

[2021-11-30 12:39] darthf1 commented on #213
Ah, yeah that should fix it. Closing since its already being worked on :)

[2021-11-30 12:39] #213 closed

[2021-12-01 13:05] seb-jean opened #214 "InputBag::get() - wrong $default parameter"
Hi,

The parameter $default is `string|int|float|bool|null` and phpstan has "`string|null`".

[2021-12-01 13:08] ondrejmirtes commented on #214
What error message are you getting because of this?

[2021-12-01 13:11] seb-jean commented on #214
`message: "#^Parameter \\#2 \\$default of method Symfony\\\\Component\\\\HttpFoundation\\\\InputBag\\<string\\>\\:\\:get\\(\\) expects string\\|null, int given\\.$#"`

[2021-12-01 13:13] ondrejmirtes commented on #214
And the code that's causing this error? Also please make sure this is not just a duplicate of https://github.com/phpstan/phpstan-symfony/issues/201

[2021-12-01 13:15] seb-jean commented on #214
[code]

[2021-12-02 11:42] b1rdex commented on #81
A workaround: add a stub in your project, something like this:

[code]

[2021-12-06 06:26] b1rdex opened #216 "Another TestContainer issue"
This is a continuation of a problem described in #27, #210  and #212.

[code]

`\Symfony\Bundle\FrameworkBundle\KernelBrowser::getContainer()`:
[code]

So there should be one more stub added for `KernelBrowser::getContainer()`

[2021-12-06 09:24] ondrejmirtes commented on #216
Please send a PR.

[2021-12-06 11:01] ossinkine opened #217 "Add return type to Command::getHelper"
Recommended way (described in [the documentation](https://symfony.com/doc/current/components/console/helpers/questionhelper.html)) to use the console command helpers is to use `getHelper` method but PHPStan can't recognize the return type of `getHelper`.

For example, the code from the documentation
[code]
will generate an error `Cannot call method ask() on mixed`.

Adding type hint `HandlerInterf

[2021-12-06 14:32] ondrejmirtes commented on #217
Heah, sure, no problem - this is a case for a dynamic return type extension (https://phpstan.org/developing-extensions/dynamic-return-type-extensions). Feel free to contribute it!

[2021-12-13 08:28] Pixelshaped opened #219 "Services are not private if included through a Service Subscriber/Locator"
Since #211 there is no way to get Services on the container by default. This a nice idea but it overlooks legitimate use-cases: it is indeed possible to get services on the container without getting a deprecation warning if your service implements the `ServiceSubscriberInterface` for example (see docs: https://symfony.com/doc/current/service_container/service_subscribers_locators.html#defining-a-s

[2021-12-16 09:03] #219 closed

[2022-01-03 16:03] mitelg commented on #166
I also just stumbled upon that and would love to see that, too :blush: :+1:

[2022-01-03 16:18] VincentLanglet commented on #166
This shouldn't be too hard to implement ; do you want to make a try ? @mitelg

[2022-01-03 19:54] #161 closed

[2022-01-04 07:42] mitelg commented on #166
If you can hint me where to start and maybe even an example where I can take things from, I would like to give it a try :grin:

[2022-01-04 08:02] VincentLanglet commented on #166
https://github.com/phpstan/phpstan-symfony/blob/master/src/Type/Symfony/RequestDynamicReturnTypeExtension.php
can be a good example.

You'll have to implement your own logic inside getTypeFromMethodCall, but check like `(new ConstantBooleanType(true))->isSuperTypeOf($argType)` will be the same

[2022-01-04 09:45] mitelg commented on #166
I tried to start and currently I am stuck at defining the new return type. I think i need to return `new ObjectType(FormErrorIterator::class)` in the `getTypeFromMethodCall` but how do I define the generic type?

[2022-01-04 10:34] VincentLanglet commented on #166
You have generics here: https://github.com/phpstan/phpstan-src/tree/master/src/Type/Generic

[2022-01-04 12:29] ondrejmirtes commented on #166
Documentation is here: https://phpstan.org/developing-extensions/dynamic-return-type-extensions

[2022-01-05 17:09] Wirone opened #226 "Services with parameterised `class` are not resolved"
I've installed `phpstan/phpstan-symfony` extension and analysed current codebase with configured container. I see many errors like `Property Foo::$bar (Bar) does not accept %foo.bar.service.class%` on `$this->bar = $this->container->get('foo.bar.service');` when service has definition with parameterised class:

[code]

Such service definition is totally correct. It seems like it can't be resolved

[2022-01-05 17:19] ondrejmirtes commented on #226
Looks like `%foo.bar.service.class%` is not expanded to the actual object class.

The code in question is here https://github.com/phpstan/phpstan-symfony/blob/4140813ebfe7536222b67652fb82f870606ef204/src/Type/Symfony/ServiceDynamicReturnTypeExtension.php#L57-L77 so feel free to debug it and see what's wrong.

[2022-01-08 10:45] #166 closed

[2022-01-08 10:45] ondrejmirtes commented on #166
Fixed by https://github.com/phpstan/phpstan-symfony/pull/228

[2022-01-08 20:05] #216 closed

[2022-01-08 20:21] #217 closed

[2022-01-08 20:26] #214 closed

[2022-01-08 20:27] ondrejmirtes commented on #81
I've seen a similar question elsewhere and I've seen it solved with `#[CurrentUser]` attribute: https://symfony.com/blog/new-in-symfony-5-2-controller-argument-attributes

[2022-01-08 20:27] #81 closed

[2022-01-09 01:43] b1rdex commented on #81
@ondrejmirtes I feel like the issue should be reopened - the attribute you mentioned works only in controllers. There are also `Symfony\Component\Security\Core\Security::getUser()` and `Symfony\Component\Security\Core\Authentication\Token::getUser()`.

[2022-01-09 07:29] ondrejmirtes commented on #81
If you have a suggestion I'll welcome a PR :)

[2022-01-09 12:08] #99 closed

[2022-01-09 15:36] villfa opened #231 "consoleApplicationLoader not recognized"
Hi,

I have this error:
[code]

Here the content of `phpstan.neon`:
[code]

If I replace `consoleApplicationLoader` by `console_application_loader` it works fine.
According the README file we should use `consoleApplicationLoader`, so I was wondering if it's a bug or a documentation problem.

Versions:
* phpstan/phpstan: 1.3.3
* phpstan/phpstan-symfony: 1.0.6

[2022-01-09 15:46] ondrejmirtes commented on #231
Version that corresponds to the new README hasn't been released yet.

[2022-01-09 15:46] #231 closed

[2022-01-10 16:07] #98 closed

[2022-01-11 10:35] ruudk commented on #73
Could it be that you are calling `hasSession` twice in the same context?

If that's the case, it's related to this extension: https://github.com/phpstan/phpstan-symfony/blob/master/src/Type/Symfony/RequestTypeSpecifyingExtension.php

[2022-01-17 15:32] YspMark opened #235 "CacheInterface->get returns mixed"
The `CacheInterface` `get` method is by default hinted with the `mixed` return type. The `callback` parameter return will be the cache item, so that return type could be used to determine the right return type.

[2022-01-18 16:08] #235 closed

[2022-01-24 10:25] mitelg opened #239 "Command `getHelper` does not work"
Hey there :wave:

I updated to version 1.1.2 and now I got the following error during the analysis:

We do not extend directly from `Symfony\Component\Console\Command\Command` but have an own AbstractCommand instead. could that be a reason? Otherwise I don't see a reason why a call like this, should not work: `$this->getHelper('question')->ask()`

Command where the error occurs: https://github.com

[2022-01-24 10:38] ondrejmirtes commented on #239
/cc @lookyman who is the author of https://github.com/phpstan/phpstan-symfony/pull/229

[2022-01-24 12:08] lookyman commented on #239
Are you using https://github.com/phpstan/phpstan-symfony#analysis-of-symfony-console-commands?

[2022-01-24 12:21] mitelg commented on #239
sure :slightly_smiling_face:

but we also have our own console application class, which extends from the Symfony base application. do not, if that matters :grin:

https://github.com/shopware/shopware/blob/5.7/engine/Shopware/Components/Console/Application.php

[2022-02-01 10:37] ondrejmirtes commented on #73
I'll reopen if you provide the full code sample where it happens.

[2022-02-01 10:37] #73 closed

[2022-02-02 10:21] renovate[bot] opened #246 "Dependency Dashboard"
This issue provides visibility into Renovate updates and their statuses. [Learn more](https://docs.renovatebot.com/key-concepts/dashboard/)

## Rate Limited

These updates are currently rate limited. Click on a checkbox below to force their creation now.

 - [ ] Update github-actions (major) (`dessant/lock-threads`, `metcalfc/changelog-generator`)
 - [ ] Update root-composer to v6 (major) (`symfon

[2022-02-03 11:35] #199 closed

[2022-02-07 11:05] gjuric opened #251 "Call to function is_string() with string will always evaluate to true."
I've just upgraded from 1.1.3 => 1.1.5 (phpstan was also upgraded 1.4.4 => 1.4.6) and I am having the following issue:

[code]

Triggers:

Although there was a call to `->has` previously $x can still be `bool|float|int|string` according to `Symfony\Component\HttpFoundation\InputBag::get()`. Looking at https://github.com/phpstan/phpstan-symfony/commit/173610b6eac80bb0b63eee2b181bd6f67bb3aad8 this i

[2022-02-07 12:58] ondrejmirtes commented on #251
We define the cookies bag like this: https://github.com/phpstan/phpstan-symfony/blob/4e20d2e6b65a6eb2d0b8ff285c6c8c049faff03d/stubs/Symfony/Component/HttpFoundation/Request.stub#L22-L27

Can you check whether it can contain other types as well?

[2022-02-07 13:53] gjuric commented on #251
I've just tried it by using setcookie directly and it looks like it can not contain other types, it is string only.

The only thing that can happen is somebody overriding the $_COOKIE superglobal before the Request object is instantiated, but chances of that happening are pretty low.

I leave it to you to decide what is the correct thing to do here I actually kinda like that the scope is much smal

[2022-02-07 20:28] lookyman commented on #239
I haven't had a chance to look at this yet. It would be much appreciated if you guys could try to debug it, and maybe send a PR. If not, I will try to find some time later this week. Thanks for understanding.

[2022-02-08 10:37] javaDeveloperKid opened #253 "Symfony service constructor analysis"
PHPStan already supports analysis for valid parameters count and type.
[code]
[code]

However it does not report invalid constructor parameters for Symfony services. We have access to the container via
[code]
so we can analyze constructors as well. Do I miss something or this is a feature that is not implemented?

[2022-02-08 10:40] ondrejmirtes commented on #253
Do you have a code sample that you'd like to report an error on?

[2022-02-08 11:18] javaDeveloperKid commented on #253
I did not update services.yaml after adding another constructor parameter in a class.

[2022-02-08 11:26] ondrejmirtes commented on #253
Isn't that reported by Symfony during container compilation?

[2022-02-08 11:27] ondrejmirtes commented on #253
Anyway, I'd say this falls outside of responsibilites of PHPStan, because there's no AST involved, there's nothing to hook the rule onto.

[2022-02-08 12:16] javaDeveloperKid commented on #253
It looks like not as the error has occurred on production.

Ok, I won't question you because I don't know really not much about AST. It just feels naturally to me that it could be done as we have all the information, i.e. a container file and a class, and we could compare what's inside PHP class constructor and inside services.yaml configuration file.

[2022-02-08 12:40] lookyman commented on #253
Yep, it should be.

I don't think it's necessary to implement any checks here, especially because you should always recompile the container before running PHPStan on it.

[2022-02-08 12:49] javaDeveloperKid commented on #253
Maybe it's reported since the specific Symfony version? Do you know which one?

[2022-02-08 21:06] lookyman commented on #253
Actually you might be right. There might not be an error until you instantiate the service (or any other service that depends on it, even indirectly).

Feel free to explore this issue and maybe send a PR. I'll be happy to take a look at it.

[2022-02-09 08:56] ondrejmirtes commented on #253
One idea how to implement such rule - just hook onto a `FileNode` and execute your logic on the first file that's analysed.

[2022-02-09 08:57] ondrejmirtes commented on #253
Sorry, accidental close.

[2022-02-09 14:50] Wirone commented on #226
@ondrejmirtes I've started work on this but I struggle to prepare fix. I've added parameter and service to `tests/Symfony/container.xml`, added scenario to `PHPStan\Symfony\DefaultServiceMapTest::getServiceProvider()` and I see error:

[code]

But when I work with XDebug I don't see that it goes through mentioned `ServiceDynamicReturnTypeExtension::getGetTypeFromMethodCall()` method. I see that se

[2022-02-10 08:36] javaDeveloperKid commented on #253
Hmmm, this feature look encouragingly. It would also be a nice first contribution to PHPStan but also a challenging one as I've never worked with AST (and PHPStan internally). Will give it a try in my spare time but at the same time I'll be ready to be disappointed.

[2022-02-10 16:20] lookyman commented on #253
Be sure to check out https://phpstan.org/developing-extensions/extension-types.

[2022-02-17 09:13] Wirone opened #255 "Result cache is not invalidated after DI container dump"
Imagine scenario:

- With `bin/console cache:clear` you dump DI container
- In code you use `$container->get('foo');`
- PHPStan reports `Service "foo" is not registered in the container`
- You fix DI definition by adding `foo` service
- `cache:clear` again, so DI definition contains `foo` service
- Because of result cache PHPStan reports errors even though DI container definition has changed and s

[2022-02-23 19:27] alexander-schranz opened #256 "Required arguments and option can be null in interact"
In the `interact` method of the symfony console command its possible to ask for required attributes. In that context a required argument can still be null.

The following code will tell that the null check does not work:

e.g.:

[code]

When using `!$market` rector will actually refractor it to `$test === '' && $test === '0'` so that is also not correct.

If possible it would be great that dependi

[2022-02-24 21:34] allan-simon opened #257 "verify that the file in render actually exists"
A common error we have is "you forgot to commit the  .html.twig file" or the twig file was renamed and not all occurences was replaced.

If phpstan could detect the path is linked to a missing file, that would help a lot :)

[2022-02-25 13:16] #226 closed

[2022-03-16 16:54] arderyp opened #262 "any way to support typing for $request->request->get()?"
right now I'm having to check the type on each call (mixed return), which is a lot.  Not sure if this is possible, but thought I'd ask.

[2022-03-16 16:55] ondrejmirtes commented on #262
Can you be more specific with a code sample and the error you're getting?

[2022-03-16 17:06] ondrejmirtes commented on #262
Still not sure what this is about. I'll reopen if you clarify, thanks.

[2022-03-17 10:39] ondrejmirtes commented on #262
Can you please post these? Put them in the source code and re-run PHPStan.

[code]

[2022-03-17 23:58] arderyp commented on #262
I'm getting an unknown function error.  I tried explicitly including the function `use function PHPStan\dumpType;` and that didn't help.  I see the function in my vendor directory, but for what it is worth, its just an empty function:

[code]

[2022-03-18 00:01] arderyp commented on #262
Oops, maybe the result I am looking for is in PHPStan, not the browser:

[code]

[2022-03-18 00:02] arderyp commented on #262
Oops, maybe the result I am looking for is in PHPStan, not the browser:

[code]

[2022-03-18 00:04] arderyp commented on #262
These are all results I expect, as `ParameterBag::get()` returns mixed.

I've proposed a solution to Symfony that could be helpful if accepted: https://github.com/symfony/symfony/issues/45775

[2022-03-18 05:42] ondrejmirtes commented on #262
This is not the result I expect, do you have the latest version of PHPStan and phpstan-symfony? Is the extension enabled?

[2022-03-18 14:26] arderyp commented on #262
Well, that's good news!  But I am afraid I do have the latest `phpstan` (1.4.10) and `phpstan-symfony` (1.1.7).  I am using `phpstan/extension-installer` (1.1.0), which I believe enables the extensions automatically. And my `phpstan.neon` includes:

[code]

`tests/console-application.php` is:

[code]

[2022-03-18 14:28] arderyp commented on #262
I'm looking at the symfony 5 config for `phpstan-symfony`:

[code]

I do have `vendor/autoload.php` and I am using `.env`... should I be using this file instead?

[2022-03-18 14:36] arderyp commented on #262
this did not change the output of the `dumpType` calls:

[code]

[2022-03-18 14:56] arderyp commented on #262
Found something potentially interesting.  `ParameterBagInterface` [shows](https://github.com/symfony/symfony/blob/4.4/src/Symfony/Component/DependencyInjection/ParameterBag/ParameterBagInterface.php#L50) return type of `@return array|bool|string|int|float|\UnitEnum|null`. But the `Symfony\Component\HttpFoundation\ParameterBag` does not extend this interface (like `\Symfony\Component\DependencyInje

[2022-03-21 09:22] ondrejmirtes commented on #256
Sorry, I worry this is out of scope for PHPStan to understand such code.

[2022-03-21 09:22] #256 closed

[2022-03-21 09:23] ondrejmirtes commented on #256
You can do this in your `execute` method:

[code]

[2022-03-21 10:24] ondrejmirtes commented on #262
This is the problem:

[code]

I'd expect this instead:

[code]

Because: https://github.com/phpstan/phpstan-symfony/blob/79a26b97a85af36367fc90fe2cef481e66c27bf3/stubs/Symfony/Component/HttpFoundation/Request.stub#L8-L13

[2022-03-21 10:25] ondrejmirtes commented on #262
Not sure how it can be happening if everything's properly installed.

[2022-03-23 16:10] Seldaek opened #264 "Add support for HeaderBag::all()"
Since Symfony 5.4 all() has a generic return type defined which is nice, but sadly due to the $key arg it is very variable what you get back: https://github.com/symfony/symfony/blob/f5a8916bad0e45ef125d128dca6c2793bd0c55d2/src/Symfony/Component/HttpFoundation/HeaderBag.php#L66-L68

It'd be great if this extension supported all() like it does get(), switching to the correct return type based on $ke

[2022-03-25 05:19] arderyp commented on #262
Hmm. @ondrejmirtes Do you suggest I manually install phpstan-symfony? Not sure how to proceed with testing...

[2022-03-31 19:49] arderyp commented on #262
@ondrejmirtes, any input on my previous comment?  I am not fully competent on how stubbing works, but is it really possible to type hint a completely different object? Request defines:

[code]

That's why I was not surprised to see the dumped variable as an instance of `ParameterBag` instead of `InputBag`. I'm on Symfony 4.4, if that matters.

[2022-03-31 20:03] ondrejmirtes commented on #262
Please create a small reproducing repository so I can check out the problem.

[2022-03-31 20:05] arderyp commented on #262
If I find some time I will look into that and comment back here.

[2022-03-31 20:32] arderyp commented on #262
well, that was easier than I thought: https://github.com/arderyp/phpstan-issue-262

@ondrejmirtes

[2022-04-04 17:00] gennadigennadigennadi commented on #57
@ondrejmirtes to you know what causes this problem?
I get a similar error.
`  $this->addArgument('threshold', InputArgument::OPTIONAL, 'The maximum number of calls to the API.', 50);`

I get this error and as you sad, the DocBlock says `mixed`:
[code]

I have added my case to the Test and it fails, maybe it helps:
https://github.com/gennadigennadigennadi/phpstan-symfony/tree/inputArgument-fails-wi

[2022-04-05 04:17] gennadigennadigennadi commented on #57
Okay.
That's the case properly because an Argument is always a string. Even if `default` could be mixed, it doesn't make sense it to anything else but a string or null, right?

[2022-04-05 22:04] arderyp commented on #262
should we open this back up @ondrejmirtes?

[2022-04-06 11:03] ondrejmirtes commented on #262
I think this code doesn't execute for you: https://github.com/phpstan/phpstan-symfony/blob/1.2.x/src/Symfony/InputBagStubFilesExtension.php Can you try installing this package? https://packagist.org/packages/symfony/http-foundation

[2022-04-06 17:01] arderyp commented on #262
[code]

[commit](https://github.com/arderyp/phpstan-issue-262/commit/4c756e7298ee83907b4740a3ce3c6f30b4a3336c).

So, unfortunately, `http-foundation` doesn't appear to resolve the issue. As I suspected, it is already included in `symfony/framework-bundle`, so installing it explicitly did not change my vendor setup at all (see composer output above).

I should note, I did not build some unique cust

[2022-04-06 19:14] Seldaek opened #268 "Add support for InputInterface::getOption('x'|'y'|'z')"
When you pass a variable getOption($optName) and $optName is a set of multiple string literals, it should still be possible to resolve the type(s).

It seems fairly easy to tweak https://github.com/phpstan/phpstan-symfony/blob/7953474b9af0872baaa469ddd041887aba0a3a63/src/Type/Symfony/InputInterfaceGetOptionDynamicReturnTypeExtension.php#L56-L85 to do a loop and concat all the different types inste

[2022-04-13 23:18] arderyp commented on #262
Hey @ondrejmirtes, I believe part of the confusions here is stemming from the fact that you were expecting an object of type `Symfony\Component\HttpFoundation\InputBag`, but it looks like that wasn't introduced until Symfony 5.1: https://github.com/symfony/http-foundation/blob/5.4/CHANGELOG.md#510

the 5.4 `InputBag` [type hints](https://github.com/symfony/http-foundation/blob/5.4/InputBag.php#L28

[2022-04-16 17:08] ondrejmirtes commented on #262
So upgrade your Symfony version - you'll save yourself more trouble that way :)

[2022-04-17 05:53] arderyp commented on #262
I plan to this summer, but it's a major version upgrade, not a simple composer update and call it a day.

Glad the newer versions play more nicely with typing and phpstan though

[2022-04-19 13:19] TomBrunner commented on #262
Hi, I might be misunderstanding the use case of this extension, for the rule

'Provides correct return type for InputBag::get() method based on the $default parameter.'

I would expect `\PHPStan\dumpType($request->request->get('start_date', 'test'));` to print `Dumped type: string`, but it still shows as `Dumped type: bool|float|int|string|null`. Is this not what is supposed to happen?

[2022-04-20 15:39] arderyp commented on #262
Good question @TomBrunner

I haven't heard back from maintainers on my suggested improvements for typed getters on the `*Bag` objects: https://github.com/symfony/symfony/issues/45775

[2022-04-28 10:59] Khartir opened #269 "PHPstan does not find container helper functions"
After upgrading to PHPStan 1.6, the following errors are reported when analyzing the config files:
[code]
Workaround: Add `vendor/symfony/dependency-injection/Loader/Configurator/ContainerConfigurator.php` to the `scanFiles`.

I'm unsure if this is a bug or just something that should be added to the README.

[2022-04-28 11:03] ondrejmirtes commented on #269
This is expected behaviour: https://github.com/phpstan/phpstan/issues/7118

It'd be best to fix this in Symfony. But you can send a PR to README here as well.

[2022-04-28 11:03] #269 closed, assigned to nobody

[2022-04-28 12:22] alexander-schranz opened #270 "constant_hassers: false not longer working in PHPStan 1.6.3"
I have the following configured:

[code]

Since PHPStan 1.6.3 I'm now getting:

[code]

Which uses `has` to test if a service exist: https://github.com/sulu/sulu/blob/da963682357464af6dd15de88b565c3e2bd1a70c/src/Sulu/Bundle/HttpCacheBundle/Tests/Unit/DependencyInjection/SuluHttpCacheExtensionTest.php#L100-L101

Maybe it has todo with the change in: https://github.com/phpstan/phpstan-src/commit/5c8

[2022-05-04 07:45] ondrejmirtes commented on #269
Hi @Khartir I have an idea how to make this error go away even without a special extra configuration, but can you please reproduce it in a small repository so I can verify my fix? Thanks.

[2022-05-04 16:46] Khartir commented on #269
Here you go: https://github.com/Khartir/phpstan-symfony-di-helper-reproduction
One thing I realized: the error only occurs with bleeding edge enabled. Not sure if you're aware of this. I assume this is due to using static reflection?

[2022-05-05 12:01] ondrejmirtes commented on #269
I'm happy to announce this example works since PHPStan 1.6.6 without any special need for `scanFiles` configuration 🎉  Thanks!

[2022-05-28 13:25] VincentLanglet commented on #270
I think there is no test so far about this constantHasser config.
Might be worth to add some ; do you want to do it @alexander-schranz ?
It might help to debug.

[2022-05-28 13:29] VincentLanglet commented on #264
Hi @Seldaek, since phpstan 1.6 this can be easily done with conditional return type I think
https://phpstan.org/blog/phpstan-1-6-0-with-conditional-return-types

The stub https://github.com/phpstan/phpstan-symfony/blob/1.2.x/stubs/Symfony/Component/HttpFoundation/HeaderBag.stub
need to be updated to add
[code]

Do you want to provide the PR ?

[2022-05-30 08:38] ruudk opened #278 "[6.1] [AbstractBundle] Call to an undefined method `NodeDefinition::children()`"
When using the new Symfony 6.1 `AbstractBundle` introduced in https://github.com/symfony/symfony/pull/43701 I'm getting the following error:

[code]

I think this is because [`DefinitionConfigurator::rootNode()` returns `NodeDefinition|ArrayNodeDefinition`](https://github.com/symfony/symfony/blob/a10071bd657c350bb8f995361643072a97ff5819/src/Symfony/Component/Config/Definition/Configurator/Definiti

[2022-06-01 20:54] ThomasLandauer opened #279 "Symfony's FrameworkConfig methods not found"
I just want to make you aware of https://github.com/symfony/symfony/issues/46546

In short: The workaround (`scanDirectories`) I added in https://github.com/phpstan/phpstan-symfony/pull/190 isn't working anymore.

So the question is: If the Symfony guys don't change anything, is there a change that this can get fixed in PHPStan? If no, I'd delete that workaround from the docs again, and recommend

[2022-06-02 14:22] arjanfrans commented on #279
I am experiencing the same problem after updating.

[2022-06-06 17:55] tarlepp opened #281 "Symfony HttpFoundation 6.1 issue"
After I updated to Symfony 6.1.0 I noticed following errors when I run PHPStan:

[code]

It looks like return type has been changed in this update.

[2022-06-07 10:05] Seldaek commented on #264
True, opened https://github.com/symfony/symfony/pull/46613 thanks for the reminder

[2022-06-07 10:05] #264 closed

[2022-06-07 12:35] Robert-Bartel commented on #281
I think the error is in this file: `vendor/phpstan/phpstan-symfony/stubs/Symfony/Component/HttpFoundation/Request.stub`

[code]

The return value of getSession() is SessionInterface. But it is in the wrong namespace: `Symfony\Component\HttpFoundation`.

The correct one would be `Symfony\Component\HttpFoundation\Session`.

[2022-06-07 12:39] ondrejmirtes commented on #281
I had it fixed for several days already but haven't tagged a release. The reason is that I thought this error report shows up only when analysing phpstan-symfony itself and it wouldn't influence users running PHPStan on their projects.

I don't know your project structure and what `tools/02_phpstan/vendor/phpstan` is but it looks quite exotic. The recommended way of running PHPStan and its extensi

[2022-06-07 12:39] #281 closed, assigned to nobody

[2022-06-07 12:45] Robert-Bartel commented on #281
Perfect. I just used tag 1.2.3 and it works! 👍

[2022-06-07 14:21] tarlepp commented on #281
I can confirm that version `1.2.3` fixes this - thanks!

@ondrejmirtes I'm using https://github.com/bamarni/composer-bin-plugin to organize all dev tools to own "namespaces" - that is why that directory structure might look a bit weird.

[2022-06-07 14:25] ondrejmirtes commented on #281
Completely unnecessary, even counterproductive, to do that for PHPStan 😊

[2022-06-16 09:54] marmichalski commented on #279
The generated config has changed to always include `|static` return type.

For example, FrameworkConfig.form changed between 6.0 and 6.1 to:
[code]

[2022-06-17 10:07] GSpecDrum commented on #57
Hello!

Could someone explain why this error is thrown? Symfony 5 expects `mixed` in all places where this variable is used. For symfony 6 type of this variable is `string|bool|int|float|array`

Looks like this is from Symfony 4:
https://github.com/symfony/symfony/blob/v4.2.5/src/Symfony/Component/Console/Input/InputArgument.php#L37

4.2.5 was the latest version of Symfony when code that throws th

[2022-06-29 15:13] DAcodedBEAT opened #285 "Feature request: Confirm if class and action method exist for Symfony controller definition"
Currently, if a controller definition refers to a non-existent class/action method an error would be raised at time of route invocation.

example routing definition:
[code]

When `curl`'ing this route, this raises the following exception:
[code]

I would like phpstan-symfony to analyze route definitions so errors like this can be caught ahead of time rather than at runtime.

[2022-07-01 08:50] shyim opened #286 "DIC parameter is interpreted as *never*"
Since commit https://github.com/phpstan/phpstan-symfony/commit/2063d60f1bfe97c5702a839b3bc68d7f3fa75318 I have a error  that a dic parameter is never.

I am doing in the test code:

[code]

That both parameter keys which are arrays are the same. Since that commit I get

[code]

I took the parameter out and "over-typed" it with an var annotation

[code]

This produces that next strange error

[code

[2022-07-15 14:06] ThomasLandauer opened #292 "Catch accessing the session in a constructor"
With a constructor like this:

[code]

... phpstan is crashing with:

It looks like it's not allowed to access the session in a constructor; I opened a PR at symfony-docs: https://github.com/symfony/symfony-docs/pull/16985

[2022-07-15 16:12] tom-combet commented on #208
I'm also concerned, I'd like to contribute to this!

@ondrejmirtes I forked and cloned the repo but I'm a bit lost: classes from PHPStan are missing so I get errors in VSCode (`Undefined type 'PHPStan\Testing\TypeInferenceTestCase'. `for instance). Therefore, I don't benefit from the IDE.

Is it the good way to start developing on phpstan (clone + composer install)?

[2022-07-20 10:06] NoiseByNorthwest opened #295 "False positive on `OutputInterface::write()` since 1.2.6"
Since the upgrading of phpstan-symfony from 1.2.5 to 1.2.6 I have the following error when running PHPStan. It really looks like a false positive.

[code]

[2022-07-20 10:08] ondrejmirtes commented on #295
This is the reason: https://github.com/phpstan/phpstan-symfony/pull/293

[2022-07-20 10:09] ondrejmirtes commented on #295
What piece of code reports the error for you?

[2022-07-20 10:16] NoiseByNorthwest commented on #295
This is a method which wraps the call to `OutputInterface::write()` and accepts an "int $options" which is thus wider (int)  than the accepted type provided by the `OutputInterface::write()`'s stub (int-mask-of<...>).

[code]

[2022-07-20 10:17] NoiseByNorthwest commented on #295
Fixed with

[code]

[2022-07-20 10:18] NoiseByNorthwest commented on #295
If you think this is the way to do I'll close this issue.

[2022-07-20 11:52] ondrejmirtes commented on #295
Yes :)

[2022-07-20 11:52] #295 closed, assigned to nobody

[2022-07-20 12:54] ondrejmirtes commented on #208
@tom-combet If you use PhpStorm IDE then the classes can be seen. They're defined inside phpstan.phar in `vendor/phpstan/phpstan`.

[2022-07-20 13:00] ondrejmirtes commented on #286
/cc @VincentLanglet

[2022-07-20 13:08] VincentLanglet commented on #286
What is your config ? @shyim

I'll need more explanation about the `shopware.filesystem.public`.

Best would be to reproduce this error with the tests of this repository

[2022-07-20 13:10] shyim commented on #286
Here you are :)

https://github.com/shopware/platform/blob/dea144715a735c2b6f53098b9c92f9eeebc16c21/src/Core/Framework/Test/DependencyInjection/CompilerPass/FilesystemConfigMigrationCompilerPassTest.php#L60

[2022-07-20 14:53] VincentLanglet commented on #286
I ran
[code]
And got no error

[2022-07-20 14:59] ondrejmirtes commented on #286
@shyim clearly misunderstood what @VincentLanglet meant with "Best would be to reproduce this error with the tests of this repository".

[2022-07-20 15:07] VincentLanglet commented on #286
Yes, but if I could have been able to reproduce the error with his repository, I would have write the fix/test by myself.

I'm fine with both solution.
Either, I have an easy way to reproduce the error on his repository
Either, you (@shyim) write a failing test phpstan/phpstan-symfony repository to reproduce the error you have, and I'll debug to fix it.

[2022-07-20 15:12] ondrejmirtes commented on #286
I think all you need to be able to fix this is to see how `shopware.filesystem.public` looks like in `.yml` or `.xml` container dump.

[2022-07-20 15:26] VincentLanglet commented on #286
I reproduced the error with his repository.

I have
[code]

And with the code
[code]
I have
[code]
Phpstan is thinking that the parameter are the same because it doesn't change the value with `setParameter`.

but Phpstan shouldn't even use the container xml here, since the test is doing `new ContainerBuilder`.

[2022-07-20 15:30] VincentLanglet commented on #286
To simplify the issue
[code]
is reported by phpstan
[code]

To me this is wrong, but not related to my changes.

And it will require to consider differently Containerbuilder which are injected as a service, and ContainerBuilder which are freshly created. Doesn't seems like an easy issue to solve, but I may be wrong @ondrejmirtes.

[2022-07-20 16:23] ondrejmirtes commented on #292
Can you show me the stack trace of the internal error so I can decide if it's fixable?

[2022-07-21 18:01] ThomasLandauer commented on #292
Sorry, I can't reproduce this - so I'm closing it.

[2022-07-21 18:01] #292 closed, assigned to nobody

[2022-08-11 07:15] shyim opened #299 "Symfony Plugin breaks bootstrapFiles configuration"
I have in my `bootstrapFiles` a file which generates the containerXml file.
It looks like the containerXml will be parsed before the `bootstrapFiles` are executed and so the phpstan  command fails always

[2022-08-11 07:35] ondrejmirtes commented on #299
How does it fail?

[2022-08-11 07:36] shyim commented on #299
It just throws an error that it cannot find the xml file

[2022-08-11 07:37] shyim commented on #299
For me it looks like that the XmlFactories are too early in the stack constructed before running the bootstrapFiles 🤔

[2022-08-11 11:24] ondrejmirtes commented on #299
Yeah, it's not meant to be used like that, you need to have the XML file generated already when you start PHPStan. You can create an alias in Makefile or Composer scripts so that it happens every time you run PHPStan.

This could be fixed in phpstan-symfony, but you'd have to inspect the stack traces and make sure that the container isn't requested before `bootstrapFiles` are called.

[2022-08-11 11:42] shyim commented on #299
Yes we have a script but thats annoying in combination with PhpStorm. So when you delete the whole var/cache and then change anything phpstan triggered by phpstorm explodes.

So I would rather have this fixed in the extension :D. I can deliver the stacktrace

[2022-08-15 14:51] keulinho opened #301 "[Feature Request] Overriding dynamic service return types"
Currently there is no way to override dynamic service return types on the container that are specified in `ServiceDynamicReturnTypeExtension`.

This is useful to provide more specific information e.g. if the service implement a `generic` class there is currently no way to teach phpstan that a specific service is of a specific type.

I already build a custom `DynamicMethodReturnTypeExtension` that

[2022-08-23 13:44] Wirone opened #303 "Support for DI config in PHP file format"
Symfony supports PHP format for configuration (it's even default one now), so it would be great if this plugin could help with verifying DI configs. Assume we have:

[code]

[code]

Plugin should warn that `Baz $baz` argument is missing in the `Foo` service definition.

Similarly it should support:
- factories like `->factory([service(FooFactory::class), 'create'])`
  - if factory's service exists

[2022-08-25 21:07] zacharylund opened #304 "Symfony 4.4 is maintained for another 15 months"
The [Symfony roadmap](https://symfony.com/releases) says that 4.4 is maintained through November 2023 and Symfony 6.0 is maintained through January 2023.

https://github.com/phpstan/phpstan-symfony/commit/298f7aee5f36f7d72e575970013b46965456b7f4 removes support for Symfony 4.x including 4.4.
https://github.com/phpstan/phpstan-symfony/commit/120d3a8f3b16f79a570e4ef68a96fe9f85186fd1 adds support for

[2022-08-25 21:09] ondrejmirtes commented on #304
At the top of the page it says LTS release is 5.4.11.

It's a nightmare to support such a big range of releases (meaning 4.x to 6.x), that's why I decided to make my maintenance easier.

Symfony 4.4 has been released almost 3 years ago, you really ought to upgrade to a newer version.

[2022-08-25 21:09] #304 closed, assigned to nobody

[2022-08-25 21:13] zacharylund commented on #304
Fair enough. Thanks for explaining.

[2022-08-26 14:35] ondrejmirtes commented on #304
FYI I accepted a quickfix https://github.com/phpstan/phpstan-symfony/pull/305

[2022-09-11 16:54] alexis78-sym commented on #303
Nice!

[2022-10-28 10:39] blaater6 opened #306 "[Feature request] Redis support"
Currently there is no way to set the container xml path when the RedisAdapter is used to save the cache.

 It would be a nice addition when this can be configured in the phpstan config file.

[2022-11-22 15:27] canvural opened #312 "[RFC] Extract Symfony console related rules and extensions to a separate package"
Hello,

Recently I saw on Twitter a Laravel user was complaining about type related stuff in Laravel console commands. And saw that @ondrejmirtes saying `Artisan` is just a wrapper around the Symfony Console. And suggested `phpstan-symfony` can be used to analyze the commands better.

So what I want to suggest is to extract all Symfony Console related rules and extension into a new package, so tha

[2022-11-22 15:37] ondrejmirtes commented on #312
Hi, I'd like to understand how Artisan vs. Symfony commands are different, how do getOption and getArgument calls map to Laravel?

[2022-11-22 15:42] canvural commented on #312
They are not different at all. Laravel commands extend `Symfony\Component\Console\Command\Command` So `getOption`, `getArguments` etc work normally.

Just one thing: There is [this](https://github.com/laravel/framework/blob/cc902ce61b4ca08ca7449664cfab2fa96a1d1e28/src/Illuminate/Console/Command.php) "base" class that all user commands extends. But it doesn't do anything too crazy.

[2022-11-23 09:53] ondrejmirtes commented on #312
So in theory Laravel users could install and configure phpstan-symfony and it'd just work for them?

Can you please explain this tweet to me? https://twitter.com/alexfwulf/status/1594685085009301506

[2022-11-23 10:10] canvural commented on #312
Yes, I did not test it, but in theory it should work with the console stuff. Not sure how it'd be with the rest of the stuff.

I don't know what they mean exactly. There is no `input` method in Laravel AFAIK nor in Symfony 🤷

[2022-11-23 10:14] ondrejmirtes commented on #312
So:

1) There could be a tidbit in Larastan's README that people can install and configure phpstan-symfony in order to have smarter analysis of their artisan commands.
2) Larastan could depend on phpstan-symfony and just configure consoleApplicationLoader so that it's smarter out of the box without any extra configuration needed from the user.

What would be the problems with either of these appro

[2022-11-23 10:19] canvural commented on #312
I do not know what phpstan-symfony does with the rules and extensions. So I thought maybe there could be conflicts, or some false positives. Because if people also have the PHPStan extension installer the Symfony extensions and rules will be activated too.

Ok, so first I'll try and see if it all works.

[2022-11-23 10:24] ondrejmirtes commented on #312
So in order to know what to extract and how, we'd have to know what the problems could be, in order to avoid them 😊

My opinion is that you could require whole extension now, in order to learn what problems are there in practice.

But in order to just have smart type inference of options and arguments, that's just a few lines of code, and I don't think it's worth creating an extra package, I don't

[2022-11-23 10:31] canvural commented on #312
![image](https://user-images.githubusercontent.com/1574232/203524460-892c769e-bdf4-468d-8436-cf7f212810d4.png)
![image](https://user-images.githubusercontent.com/1574232/203524505-f6902377-a5dc-468d-993a-a9094d4a11c1.png)

This doesn't look like a few lines of code 😄

Anyway, you are right. First I'll test and see if there are any issues with requiring the whole `phpstan-symfony`

[2022-11-23 10:35] ondrejmirtes commented on #312
Yeah, it might be a pain because if someone installs extension-installer but you also include the same neon files in Larastan's extension.neon, it's gonna crash.

But the part that just infers correct option and argument types is easy to copy. You might not need the extra rules for now.

[2022-11-25 10:58] canvural commented on #312
Okay, from my limited testing (on 2 projects), there doesn't seem to be an issue with requiring the whole `phpstan-symfony`And console input/argument types works fine.

But like you said I'll just copy some of the classes there. Because I also realized Laravel adds some helper methods, I'd need to add extensions for it anyway.

Thanks for the small brainstorming 👍🏽

[2022-11-25 10:58] #312 closed, assigned to nobody